
:root { --primary-color: #586AC3;   
    --secondary-color: #ffffff;
    --third-color: #808080;
    --disabled-color: #b8b3b3;
    --btn-hover-color: rgb(238, 238, 238);
    --placeholder-signature: #2eaf12;
    --placeholder-signature-border-color: #145207;
    --placeholder-text: rgba(255, 255, 0, 0.3) ;
    --placeholder-text-border-color: var(--third-color);
    --modal-bg-color: #dddee8;
    --error-color: #ff0000; 
    --bottom-bar-height-desktop: 70px;
    --bottom-bar-height-mobile: 194px;
    --mobile-margin: 3%;
    --additional-message-bg-color: #f5f5dc;
    --bg-bottom-bar: var(--primary-color);
    --other-text-color: #646161;
    --agreement-text-color: rgb(15, 15, 65);
    }
    .red { color: red !important }   
          
    body { position: relative; margin: 0; font-family:'Arial';font-size:12pt; display: flex; justify-content: center } 
    .none { display:none !important }
    .hidden { visibility:hidden !important }
    .visible { visibility:visible !important }
    .inline-block { display:inline-block !important }
    .overflow-y-hidden { overflow-y: hidden }
    .overflow-x-hidden { overflow-x: hidden }
    
    .white-board, .bottom-bar,  #modal-dialog-signature,  #modal-dialog-text-row, #modal-dialog-text-area, #modal-dialog-agreement { touch-action: none }
    
   .white-board { background-color: var(--secondary-color) ; position: fixed; bottom: 70px; top: 0; left: 0; right: 0;  z-index: 9; font-family: 'Arial'; align-items: center }
   .white-board.mobile-images { bottom: var(--bottom-bar-height-mobile) }

   .white-board.eng { flex-direction: row }
   .white-board.heb { flex-direction: row-reverse }
   .white-board > .inner { position: relative }

   .white-board.heb > .inner { right: 20px; direction: rtl; text-align: right }
   .white-board.eng > .inner { left: 20px;  direction: ltr; text-align: left }
   .white-board.mobile-images.heb > .inner { right: var(--mobile-margin); width: 94% }
   .white-board.mobile-images.eng > .inner { left: var(--mobile-margin); width: 92% }

   .white-board > .inner > .title { font-size:46px; color: var(--primary-color); margin-bottom: 26px; line-height:1.5em }
   .white-board.mobile-images > .inner > .title { font-size:104px }
   .white-board.heb > .inner > .title > .net-error-try-later { font-size:0.65em }
   .white-board.eng > .inner > .title > .net-error-try-later { font-size:0.65em }   
   .white-board > .inner > .sub-title { color: var(--primary-color); font-size: 30px; line-height: 42px; margin-bottom: 26px }
   .white-board .additional-message { margin-top:2em; border-radius: 3px; font-size: .8em; background-color: var(--additional-message-bg-color); 
    position: relative; color: var(--other-text-color); box-shadow: 0 8px 10px -7px #999; padding:5% }
   .white-board.heb .additional-message { border-bottom-left-radius: 60px 10px }
   .white-board.eng .additional-message { border-bottom-right-radius: 60px 10px }
   .white-board.mobile-images.heb .additional-message { border-bottom-left-radius: 180px 30px }
   .white-board.mobile-images .additional-message { padding: 7% 5% 3% 5%; border-radius: 10px; font-size: .7em; }
   .white-board .additional-message > p { margin: .3em }
   
   .white-board .marketing-banner { display: inline-block; border-radius: 3px; font-size: .75em; 
    background-color: var(--additional-message-bg-color); color: var(--other-text-color); box-shadow: 0 8px 10px -7px #999; padding:3% 4% 3% 12% }
   .white-board.heb .marketing-banner { border-bottom-left-radius: 60px 10px }
   .white-board.eng .marketing-banner { border-bottom-right-radius: 60px 10px}
   .white-board.mobile-images .marketing-banner { border-radius: 10px; font-size: .6em; padding:5% 4% 5% 6%; margin-top: 2em }   
   .white-board.mobile-images.heb .marketing-banner { border-bottom-left-radius: 180px 30px }
   .white-board .marketing-banner > p { margin: 0; line-height: 1.8em }

   .additional-legal-terms { width: 610px; font-size: 16px; color: var(--other-text-color); margin-bottom: 5px; margin-top: 30px }  
   .mobile-images .additional-legal-terms { display: none !important }
  
   #logo-container { position: fixed; z-index: 22; top:0; max-width: 400px; display: none }
   #logo-container.heb { left:0 }
   #logo-container.eng { right:0 }
   .mobile-images#logo-container { width: 100%; max-width: none }
   #logo-container > .img.example-logo{ position: relative; top: 30px; left: 35px; width: 40% }
   #logo-container > .img.hazenfraz{ position: relative; top: 15px; left: 15px; border-radius: 8px }
   #logo-container.heb > .img.zim { position: relative; top: 20px; left: 20px; border-radius: 4px }
   #logo-container.eng > .img.zim { position: relative; top: 20px; right: 20px; border-radius: 4px }

   .mobile-images#logo-container > .img.example-logo{ float: right; margin-right: 7%; top:60px }
   .mobile-images#logo-container > .img.hazenfraz{ width:96% }  
   .mobile-images#logo-container > .img.zim { position:absolute; width: 230px; border-radius: 12px }   
   #logo-container > .img{ width: 100%; display: none; }    
      
   .white-board .additional-message > .fas { color: var(--third-color); font-size: 1.2em; position: absolute; top: 12px }
   .white-board.heb  .additional-message > .fas { right: 12px }
   .white-board.eng  .additional-message > .fas { left: 12px }
   .white-board.mobile-images  .additional-message > .fas { top: 22px }
   .white-board.mobile-images.heb  .additional-message > .fas { right: 22px }
   .white-board.mobile-images.eng  .additional-message > .fas { left: 32px }
   .white-board.mobile-images > .inner > .sub-title { font-size: 70px; line-height: 100px; margin-bottom: 70px }     
      
   .zoom-pan-restore { z-index:10; display: none }
   .zoom-pan-restore.heb { right:20px }
   .zoom-pan-restore.eng { left:20px }
   .zoom-pan-restore.mobile-images{ position: fixed; width: 250px; height: 250px; bottom: calc(var(--bottom-bar-height-mobile) + 20px) }
   .zoom-pan-restore.mobile-images > .inner { height: 100%; border-radius: 50%; font-size: 42px; font-weight: bold; background-color:#6e6e6e; 
                                        color: var(--secondary-color);display: flex; align-items: center; justify-content: center; flex-direction: column;
                                        border:3px solid #eee; box-shadow: 10px 10px 15px rgba(68, 68, 68, 0.6);}
   .zoom-pan-restore.mobile-images .txt { height: 65px }
   
   
   .advertise-good-sign { z-index:13; display: none; position: absolute; bottom:10px; color: var(--other-text-color); font-size:18px }
   .advertise-good-sign > .advertise-prefix { opacity:0.6 }
   
   .advertise-good-sign.heb { direction: rtl; right: 13px }
   .advertise-good-sign.eng { left: 20px }
   .link-to-good-sign { text-decoration: none; color: var(--primary-color) } 
   .link-to-good-sign:hover { text-decoration: underline; color: var(--primary-color) }
   .advertise-good-sign.mobile-images { font-size: 45px; bottom: 25px }
   .advertise-good-sign.heb.mobile-images { right:2% }
   .advertise-good-sign.eng.mobile-images { left:2% }
   .link-to-good-sign > .txt-gs { font-weight: bold }
   .link-to-good-sign > .txt-safe-sign { color: var(--other-text-color);font-weight: bold }
    
   .demo-leave-details { color: #373b44; font-size: .4em; margin-top: 50px }
   .mobile-images .demo-leave-details { margin-top: 100px }
   .leave-details-link { background-color: #9932CC; color:#fff; border: 3px solid #BA55D3; 
                         border-radius: 8px; text-decoration: none; padding: 12px 18px;
                         box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3) }

    .mobile-images .leave-details-link {  padding: 32px 50px; border-radius: 24px;
                            box-shadow: 0px 24px 45px rgb(0 0 0 / 30%); border: 9px solid #BA55D3; font-size: 1.1em }

   .bottom-bar { height: var(--bottom-bar-height-desktop); background-color: var(--bg-bottom-bar); position: fixed; bottom: 0; right:0; left: 0; 
                 z-index: 10; font-family: 'Arial'}
   .bottom-bar.heb { flex-direction: row-reverse }
   .bottom-bar.eng { flex-direction: row }
   .bottom-bar.mobile-images { height: var(--bottom-bar-height-mobile) }

   .bottom-bar.heb > .left-side { position: absolute; top: 11px; left: 11px; display: flex; align-items: center; flex-direction: row }
   .bottom-bar.eng > .left-side { position: absolute; top: 11px; right: 11px; display: flex; align-items: center; flex-direction: row-reverse }
   .bottom-bar.mobile-images.heb > .left-side { top: 38px; left: 30px }  
   .bottom-bar.mobile-images.eng > .left-side { top: 38px; right: 30px } 
     
   .fa-file { -webkit-text-stroke: 0 #fff; color: rgb(160, 156, 156) }
   .fa-long-arrow-alt-down { -webkit-text-stroke: 1px #fff; left: -12% !important; top: 13%; font-size: 2.4em;  color: var(--primary-color) }
   .fa-long-arrow-alt-up { -webkit-text-stroke: 1px #fff; right: -12%; top: -11%; font-size: 2.4em;  color: var(--primary-color) }

   .bottom-bar.heb > .right-side { position: absolute; top: 11px; right: 11px }
   .bottom-bar.eng > .right-side { position: absolute; top: 11px; left: 11px }
   .bottom-bar.mobile-images.heb > .right-side { top: 38px; right: 30px; width: 50% }
   .bottom-bar.mobile-images.eng > .right-side { top: 38px; left: 30px; width: 50% }

   .bottom-bar .btn-action { border-radius: 8px; background-color: var(--secondary-color); cursor: pointer; align-items: center; outline: none; border: 1px solid rgb(195, 195, 195) }
   .bottom-bar.mobile-images .btn-action { border-radius: 26px }
   .bottom-bar .btn-action > .txt { color: var(--primary-color); font-size:20px }
   .bottom-bar.heb .btn-action > .txt { padding: 10px 2px 10px 10px }
   .bottom-bar.eng .btn-action > .txt { padding: 10px 10px 10px 2px }
   .bottom-bar.mobile-images .btn-action > .icon { padding: 0 15px }   
   .bottom-bar.heb .btn-action { direction: rtl }
   .bottom-bar.eng .btn-action { direction: ltr }  

   .bottom-bar.mobile-images .btn-action > .txt { padding: 25px 15px; display: inline-block; font-size: 52px; white-space:pre }
   .bottom-bar .btn-action > .fas { color: var(--primary-color) }  
   
   .bottom-bar .btn-action.fully-disabled { pointer-events: none }
   .bottom-bar .btn-action.fully-disabled > .txt, .bottom-bar .btn-action.fully-disabled > .fas { color: var(--third-color) !important }   
   .bottom-bar > .left-side > .btn-action.partial-disabled > .fas, .bottom-bar > .left-side > .btn-action.partial-disabled > .txt { color: var(--third-color) !important; cursor: auto }  

   .bottom-bar .back-to-doc { display: flex; align-items: center; color: var(--secondary-color); background: transparent; border: 1px solid var(--secondary-color); border-radius: 12px; font-size: 17px; cursor: pointer }
   .bottom-bar .back-to-doc > .fas { font-size: 23px }
   .bottom-bar.mobile-images .back-to-doc { border: 4px solid var(--secondary-color); border-radius: 35px }
   .bottom-bar.heb .back-to-doc { direction: rtl; float: right }
   .bottom-bar .back-to-doc > .txt { padding: 11px 10px 11px 10px; display: inline-block; font-size: 18px }
   .bottom-bar.mobile-images.heb .back-to-doc > .txt { font-size: 48px }
   .bottom-bar.mobile-images.eng .back-to-doc > .txt { font-size: 49px }
   .bottom-bar.eng .back-to-doc { direction: ltr }
   .bottom-bar.mobile-images .back-to-doc > .fas,
   .bottom-bar.mobile-images .btn-action > .fas { padding: 20px 6px; display: inline-block; font-size: 70px }

   .bottom-bar .signatures-validator { color: var(--secondary-color); font-size: 22px }
   .bottom-bar.mobile-images .signatures-validator { font-size: 46px/*; min-width: 450px*/; margin: 0 30px !important }
   .bottom-bar.heb .signatures-validator { float: left;  margin-left: 20px; direction: rtl; text-align: right }
   .bottom-bar.eng .signatures-validator { float: right; margin-right: 20px }
   
   .bottom-bar #upload-to-server-spinner { display:none; margin: 0 18px; color: var(--secondary-color); font-size: 2em }
   .bottom-bar.mobile-images #upload-to-server-spinner { font-size: 5em; margin: 0 30px }   
   
   body > p:nth-child(1) {touch-action: pan-y !important; position: absolute }

   .image-wrapper { box-sizing: border-box; display: block; float: right; clear: both; position: relative;  height: auto;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
                    border:1px solid #eee; margin: 15px 0 0 0} 
    
   .image-wrapper.mobile-images { margin: 30px 0 0 0; border:3px solid #eee;  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.16), 0 6px 15px rgba(0, 0, 0, 0.26) }
   
   .data-image { height: auto }

   .sign-here-placeholder { border:1px solid var(--placeholder-signature-border-color); position: absolute; border-radius: 8px; cursor: pointer; box-sizing: border-box }
   .sign-here-placeholder[data-is-dirty="false"] { background-color: var(--placeholder-signature); opacity: .65 }    
   .sign-here-placeholder[data-is-dirty="true"] { border: none } 
   .sign-here-placeholder.sign-opaque[data-is-dirty="true"] { opacity: 1; border: none } 
   .sign-here-placeholder[data-is-dirty="false"]:hover { border:4px solid var(--placeholder-signature-border-color) }

   .sign-here-placeholder-shadow { position: absolute; display: none } 

   .text-field-placeholder { position:absolute; border: 2px solid var(--placeholder-text-border-color); text-align: center; border-radius: 4px; cursor: pointer; box-sizing: border-box }
   .text-field-placeholder > .inner { height: 100%; box-sizing: border-box }
   .text-field-placeholder[data-is-dirty="true"] > .inner { padding: 0 8px; background-color: rgba(255,255,255,0.6); white-space: pre; color: #1a1a1a  }
   
   .text-field-placeholder[data-is-dirty="false"] { background-color: var(--placeholder-text) } 
   .text-field-placeholder[data-is-dirty="true"]  { border:2px solid var(--placeholder-text-border-color)} 
   
   .text-field-placeholder[data-is-dirty="false"]:hover { border: 3px solid var(--placeholder-text-border-color) }      
   .text-field-placeholder.heb > .fa-asterisk { right: .5em }
   .text-field-placeholder.eng > .fa-asterisk { left: .5em }
   .text-field-placeholder > .fa-asterisk { color: #6e6e6e; position: absolute; top: .5em; font-size: .6em }
   .mobile-images.text-field-placeholder > .fa-asterisk { font-size: 1em; top: calc(50% - 0.5em) }

/** start date field control***********************************************/
    .date-field-placeholder { display: flex; justify-content: space-between; align-items: center; 
        position:absolute; border: 2px solid var(--placeholder-text-border-color); border-radius: 4px; cursor: pointer; 
        box-sizing: border-box }
    .date-field-placeholder.heb { flex-direction: row }
    .date-field-placeholder.eng { flex-direction: row-reverse }
    .date-field-placeholder.mobile-images { justify-content: center }
    .date-field-placeholder > .txt-trigger-dtpicker { position: absolute; width: 100%; height:100%; z-index: 5; border-style: none; left: 0; opacity: 0 }
    .date-field-placeholder[data-is-dirty="false"] { background-color: var(--placeholder-text) } 
    .date-field-placeholder[data-is-dirty="true"] {  border:2px solid var(--placeholder-text-border-color); background-color: rgba(255,255,255,0.6); white-space: pre; color: #1a1a1a  }

    .date-field-placeholder[data-is-dirty="false"]:hover { border: 3px solid var(--placeholder-text-border-color) }      
    .date-field-placeholder > .fa-asterisk { color: #6e6e6e; position: absolute; top: .5em; font-size: .6em; z-index: 6 }
    .date-field-placeholder > .fa-times { display: none; color: #959393; font-size: 1.1em; z-index: 6}
    .date-field-placeholder.heb > .fa-times { margin-left: .2em }
    .date-field-placeholder.eng > .fa-times { margin-right: .2em }   

    .date-field-placeholder > .span-date-str { font-size: 0.9em }
    .date-field-placeholder.eng > .span-date-str { margin-left: .3em }
    .date-field-placeholder.heb > .span-date-str { margin-right: .3em }   

    .date-field-placeholder.heb > .fa-asterisk { right: .5em }
    .date-field-placeholder.eng > .fa-asterisk { left: .5em }    
    .mobile-images.date-field-placeholder > .fa-asterisk { font-size: 1em; top: calc(50% - 0.5em) }
/**end date field control***********************************************/

   .text-area-placeholder { border: 2px solid var(--placeholder-text-border-color); position: absolute; border-radius: 4px; cursor: pointer; box-sizing: border-box }
   .text-area-placeholder > .inner { height: 100%; word-break: break-word; white-space:normal; box-sizing: border-box }
   .text-area-placeholder[data-is-dirty="true"] > .inner { padding: 4px 8px; background-color: rgba(255,255,255,0.6); color: #1a1a1a  }
   .text-area-placeholder[data-is-dirty="false"] { background-color: var(--placeholder-text) } 
   .text-area-placeholder[data-is-dirty="true"]  { border: 2px solid transparent; background-color: rgba(236, 236, 236, 0.85); color: #1a1a1a } 
   .text-area-placeholder[data-is-dirty="false"]:hover { border: 3px solid var(--placeholder-text-border-color) }
   .text-area-placeholder[data-is-dirty="false"] > .fa-asterisk { color: #6e6e6e; position: absolute; top: .5em; font-size: .75em }
   .text-area-placeholder.heb > .fa-asterisk { right:.5em }
   .text-area-placeholder.eng > .fa-asterisk { left:.5em }
   .mobile-images.text-area-placeholder > .fa-asterisk { font-size: 1.5em }
   .text-in-advance-placeholder { position: absolute; white-space: nowrap }
   .text-in-advance-placeholder.rtl { text-align: right }
   .text-in-advance-placeholder.ltr { text-align: left }

   [data-tx-name="in-advance-signature"] { margin: 0 !important; z-index: auto !important; opacity: .9; left: auto !important }
   
   #overlay  { position: fixed; top:0; bottom:0; left: 0; right:0; background-color: rgba(64, 62, 62, 0.8); display: none; z-index: 20; align-items: center; justify-content: center } 
  
   #modal-secret-code { height: 175px; background: var(--modal-bg-color); display: none; border-radius: 8px; font-family: 'Arial' }
   #modal-secret-code .middle-row {  line-height: 125px !important; justify-content: flex-start; margin: 0 .5em }
   #modal-secret-code.mobile-images .middle-row {  line-height: 175px !important }
   #modal-secret-code.mobile-images {
        width: 83%;
        height: 520px;
        border-radius: 24px;
    }
    
    #modal-secret-code.mobile-images .middle-row {
        flex-direction: column;        
        align-items: flex-start;
    }

   #check-secret-spinner {
        visibility: hidden;
        margin: 10px 10px 0 0;
        color: var(--primary-color);
        font-size: 1.3em;
        height: 27px;
   }

   .mobile-images #check-secret-spinner {        
       font-size: 3.3em;
       height: 75px;
       margin: 25px 20px 0 0;
   }

   #modal-secret-code.mobile-images .middle-row .txt-input {
      margin-top: 0;
   }
   #modal-secret-code .reqiured-info { font-size: 16px; height: 2em; line-height: 2em; color: #FF0000 }
   #modal-secret-code.mobile-images .reqiured-info { font-size: 1.7em }
   #modal-secret-code.heb .reqiured-info { text-align: right; direction: rtl }
  
   .tbl-modal  { width:100%; border-collapse: collapse; color: #333333; direction:rtl; font-size: 18px }
   .tbl-modal .close-modal { cursor: pointer; position: absolute; top: 6px }
   .fa-times-circle.fa-3x { color: var(--other-text-color); -webkit-text-stroke: 1px var(--modal-bg-color) }
  
   .sign-plate { display:inline-block }
   .sign-plate-bottom { color: var(--other-text-color);font-size: 14px; margin-bottom: 4em;  margin-top: 5px }
   .sign-plate-bottom > .required-info { color: #6e6e6e }
   .heb .sign-plate-bottom > .required-info { float: left }
   .eng .sign-plate-bottom > .required-info { float: right; direction:ltr }
   .mobile-images .sign-plate-bottom > .required-info { font-size: 36px; margin-top: 15px }
   .sign-plate-bottom  .fa-asterisk { font-size: 9px }
   .mobile-images .sign-plate-bottom  .fa-asterisk { font-size: 21px }
   
   .tbl-modal .first-row { width: 100%; text-align: center; position: relative; font-size: 1.2em; color: #404040  }

   .tbl-modal .last-row-split  { height: 50px; width: 50%; text-align: center; position: relative; cursor: pointer }
   .tbl-modal .last-row-wide   { height: 50px; text-align: center; position: relative; cursor: pointer }
   
   .last-row-split.clear { border-top: 1px solid #dad4c8; background-color: var(--modal-bg-color); border-bottom-right-radius: 8px }

   /**start text row modal dialog***********************************************/
   #modal-dialog-text-row { 
        display: none; background: var(--modal-bg-color); 
        border-radius: 8px; color: #404040; grid-template-rows: 60px 60px 40px 50px;
        grid-template-columns: 100% } 

   #modal-dialog-text-row.mobile-images { width: 85%; grid-template-rows: 120px 240px 120px 150px; border-radius: 24px } 
   #modal-dialog-text-row.heb { font-size: 1.4em; direction: rtl }
   #modal-dialog-text-row.eng { font-size: 1.2em; direction: ltr  }

   .text-row-header { position: relative; grid-column: 1/2; grid-row: 1/2 }

   .text-row-header .fa-times-circle.fa-3x { font-size: 1.8em; -webkit-text-stroke: 1px var(--modal-bg-color) }
   .mobile-images  .text-row-header .fa-times-circle.fa-3x { font-size: 4.5em; -webkit-text-stroke: 3px var(--modal-bg-color) }
   
   #btn-close-text-row-dialog { cursor: pointer; position: absolute; top: 6px }
   .mobile-images #btn-close-text-row-dialog { top: 20px }
   .heb #btn-close-text-row-dialog { left: 6px }
   .eng #btn-close-text-row-dialog { right: 6px }
   .heb.mobile-images #btn-close-text-row-dialog { left: 20px }
   
   .text-row-2nd-row { grid-column: 1/2; grid-row: 2/3; line-height: 60px }    
   .heb > .text-row-2nd-row > .inner, .heb > .text-row-3rd-row > .inner {
        margin-left:18px; text-align: left
    }

    .eng > .text-row-2nd-row > .inner, .eng > .text-row-3rd-row > .inner {
        margin-right:18px; text-align: right
    }

    .heb.mobile-images > .text-row-2nd-row > .inner, .heb.mobile-images > .text-row-3rd-row > .inner { margin-left:54px }
    .eng.mobile-images > .text-row-2nd-row > .inner, .eng.mobile-images > .text-row-3rd-row > .inner { margin-right:54px }

    .text-row-2nd-row > .inner { display: flex; flex-direction: row; justify-content: space-between; align-items: center }
    .mobile-images > .text-row-2nd-row > .inner { flex-direction: column; justify-content: start; align-items: start }

    .text-row-2nd-row > .inner  > .lbl { 
        color: var(--primary-color); font-size: 1.1em;
        white-space: pre; text-overflow: ellipsis;
        overflow: hidden; max-width: 280px; min-width: 170px;        
    }  
    
   .heb > .text-row-2nd-row > .inner  > .lbl { text-align: right; margin-right: 20px; padding-left: 10px  }
   .eng > .text-row-2nd-row > .inner  > .lbl { text-align: left; margin-left: 20px; padding-right: 10px }
   
   .mobile-images > .text-row-2nd-row > .inner  > .lbl { 
       font-size: 2.5em; max-width: 90%  
    }
   .heb.mobile-images > .text-row-2nd-row > .inner  > .lbl { margin-right: 30px }
   .eng.mobile-images > .text-row-2nd-row > .inner  > .lbl { margin-left: 30px }

   .text-row-2nd-row > .inner > .txt { width: 250px; padding: 6px; border-radius: 8px;
         height: 2.2em; font-size: 1em; color: #272424; 
    }

    .heb > .text-row-2nd-row > .inner > .txt { direction: rtl }
    .eng > .text-row-2nd-row > .inner > .txt { direction: ltr }

    .mobile-images .text-row-2nd-row > .inner > .txt {         
        height: 2.2em;        
        font-size: 2.7em;
        padding: 0px 18px;
        border-radius: 30px;
        border: 3px solid var(--third-color);
        width: 90%;
        margin-top: 20px;
    }

    .heb.mobile-images .text-row-2nd-row > .inner > .txt { margin-right: 30px }
    .eng.mobile-images .text-row-2nd-row > .inner > .txt { margin-left: 30px }

   .required-txt-container { display: none; color: var(--other-text-color); font-size: .65em; line-height: 30px }
   .mobile-images .required-txt-container { font-size: 1.8em; line-height: 50px }
   .eng .required-txt-container { direction: ltr }
   .heb .required-txt-container { direction: rtl }
   .required-txt-container > .fas { font-size: .8em }
   
   .text-row-3nd-row { grid-column: 1/2; grid-row: 3/4 }
   #btn-text-row-ok-container { 
        grid-column: 1/2;
        grid-row: 4/5;
        line-height: 50px;
        text-align: center;
        color: var(--secondary-color);
        background-color: var(--primary-color);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-left: 1px solid var(--modal-bg-color);
        border-bottom: 1px solid var(--modal-bg-color);
        border-right: 1px solid var(--modal-bg-color);
        cursor: pointer; 
    } 

    #btn-text-row-ok-container:active { background-color: var(--secondary-color); color: var(--primary-color) }
    .mobile-images > #btn-text-row-ok-container { line-height: 150px; 
        border-bottom-left-radius: 24px; 
        border-bottom-right-radius: 24px;
        font-size: 2.6em;
        border-left: 3px solid var(--modal-bg-color);
        border-bottom: 3px solid var(--modal-bg-color);
        border-right: 3px solid var(--modal-bg-color);
         }
   
   /**end text row modal dialog***********************************************/
   
   .middle-row { margin: 0 1em; color: var(--primary-color); line-height: 4em;
                 display: flex; flex-direction: row; align-items: center; justify-content: space-evenly }
  
   .eng .middle-row { flex-direction: row-reverse }
   .middle-row > .lbl {  color: var(--primary-color); font-size: 1.1em; white-space: pre; text-overflow: ellipsis; overflow: hidden; max-width: 700px }
   .middle-row > .lbl .fa-asterisk { color:#6e6e6e; font-size: .7em; margin: 0 0.5em; }
   .mobile-images .middle-row > .lbl { font-size: 2.7em }
   
   .eng .middle-row > .lbl { direction: ltr }
   .middle-row  .txt-input { min-width: 11em; padding: 6px; border-radius: 8px; height: 2.2em; font-size: 1em; direction:ltr; color: #272424 }
   .middle-row  .txt-input:focus { outline: none }
   .middle-row  .txt-wrapper {  position: relative; top: 16px }
   .heb .middle-row .txt-wrapper { margin-right: .5em }
   .eng .middle-row .txt-wrapper { margin-left: .5em }   
   .heb .middle-row .txt-input { direction:rtl }
   .eng .middle-row .txt-input { direction:ltr }
   .reqiured-info { font-size: 14px; height: 2em;line-height: 2em; color: #6e6e6e }
   .heb .reqiured-info { text-align: left; padding-left: .4em; direction: rtl }
   .eng .reqiured-info { text-align: right; padding-right: .4em; direction: ltr }
   .mobile-images  .reqiured-info { font-size: 1.8em }
   .reqiured-info .fa-asterisk { font-size: .6em }
   .mobile-images .middle-row .txt-wrapper { width: 90%; top:0 }  
   .mobile-images .middle-row .txt-input { margin: 40px 0 0 0; font-size: 2.7em; padding: 18px; 
                                       border-radius: 30px; border: 3px solid var(--third-color); width: 100% }
     
   .tbl-modal .btn-ok-text { border-bottom-right-radius: 8px }
   .tbl-modal .btn-ok-text { position: absolute; left:0; right:0; top: 0; bottom: 0; display:inline-block; background-color: var(--primary-color); color: var(--secondary-color); 
                            line-height: 50px; text-decoration: none; border-bottom-left-radius: 8px;  border-left: 1px solid var(--modal-bg-color); 
                            border-bottom: 1px solid var(--modal-bg-color); border-right: 1px solid var(--modal-bg-color); font-size: 1.2em }
   .mobile-images > .tbl-modal .btn-ok-text { 
        line-height: 140px; border-bottom-left-radius: 24px; font-size: 3.2em;
        border-left: 3px solid var(--modal-bg-color); border-bottom: 3px solid var(--modal-bg-color); 
        border-right: 3px solid var(--modal-bg-color); border-bottom-right-radius: 24px }
    
    .tbl-modal .btn-ok-text:active { background-color: var(--secondary-color); color: var(--primary-color) }

    #modal-dialog-text-area { background: var(--modal-bg-color); display: none; border-radius: 8px; font-family: 'Arial' }
    #modal-dialog-text-area.mobile-images { border-radius: 24px } 
    #modal-dialog-text-area .first-row { position:relative; padding: 17px 0}
    #modal-dialog-text-area.mobile-images .first-row { padding: 44px 0 }
    
    #modal-dialog-text-area .fa-times-circle.fa-3x { font-size: 1.8em }
    #modal-dialog-text-area.mobile-images .fa-times-circle.fa-3x { font-size: 100px; -webkit-text-stroke: 3px var(--modal-bg-color) }
    
    #modal-dialog-text-area.heb > .tbl-modal .close-modal { left: 6px }
    #modal-dialog-text-area.eng > .tbl-modal .close-modal { right: 6px }
    #modal-dialog-text-area.mobile-images > .tbl-modal .close-modal { top: 20px } 
    #modal-dialog-text-area.mobile-images.heb > .tbl-modal .close-modal { left: 20px }
    #modal-dialog-text-area.mobile-images.eng > .tbl-modal .close-modal { right: 20px }

    .eng .second-row { text-align: left }
    .heb .second-row { text-align:right }
    .second-row > .lbl { color: var(--primary-color); font-size: 22px; white-space: pre; text-overflow: ellipsis;  overflow: hidden; max-width: 700px }
    .heb .second-row > .lbl { margin-right: 1em; padding: 0 0 15px 0; display: inline-block }
    .eng .second-row > .lbl { margin-left: 1em;  padding: 0 0 15px 0; display: inline-block; direction: ltr }
    .mobile-images.heb .second-row > .lbl { margin-right: .5em; padding: 0 0 35px 0 }
    .mobile-images.eng .second-row > .lbl { margin-left: .5em;  padding: 0 0 35px 0; direction: ltr }
    .mobile-images .second-row > .lbl { font-size: 3.3em }
    .third-row .txt-area { width: 450px; height: 200px; resize: none; padding: 6px; border-radius: 4px; font-size: 18px; line-height: 27px; color: #272424; font-family: 'Arial' }
    .mobile-images .third-row .txt-area { width: 770px; height: 320px; border-radius: 12px; font-size: 36px; max-width: 840px; padding: 12px 20px }
    .third-row .txt-area:focus { outline: none }
    .heb .third-row .sign-plate { margin: 0 1em 0 2em }
    .eng .third-row .sign-plate { margin: 0 2em 0 1em }
    
    .mobile-images .chars-counter { font-size: 36px; margin-bottom: 2em; margin-top: 15px }    
    .heb .chars-counter { float: right }    
    .eng .chars-counter { float: left } 
    .mobile-images.eng .chars-counter { font-size: 33px }   
    .heb .chars-counter > #max-lbl { padding-right: .3em }
    .eng .chars-counter > #max-lbl { padding-left: .3em }
    .heb .third-row  .txt-area { direction:rtl }
    .eng .third-row  .txt-area { direction:ltr }
    .mobile-images .middle-row > .txt-area { margin: 40px 0 0 0; font-size: 3.2em;  width: 95%; padding: 18px; border-radius: 16px;  border: 3px solid var(--third-color) }
    .mobile-images .last-row-wide { height: 140px }
    
    #modal-dialog-agreement { border: 1px solid #fff; width: 700px; height: 550px; border-radius: 8px; background-color: #fff; display: none; align-items: flex-end;
        justify-content: flex-end; position:relative 
    } 

    #modal-dialog-agreement.mobile-images { width: 85%; height: 70%; border-radius: 20px; }
    #modal-dialog-agreement > .close-agreement { position: absolute; top: 6px; left: 6px; cursor: pointer; background-color: #fff }
    #modal-dialog-agreement.mobile-images > .close-agreement { font-size: 2em; top: 20px; left: 20px }

    #agreement-text-container { box-sizing: border-box; width: 94%; height: 94%; overflow-y: scroll; padding: 0 13px 0 22px; margin-bottom: 10px; margin-right: 12px; }    
    #agreement-text-container * { color: var(--agreement-text-color) !important; font-family: Arial !important; font-size:16px !important }
    #modal-dialog-agreement.mobile-images > #agreement-text-container * { font-size: 1.2em !important }
    #agreement-text-container::-webkit-scrollbar { width: 18px }
    #modal-dialog-agreement.mobile-images > #agreement-text-container::-webkit-scrollbar { width: 30px }

    #agreement-text-container::-webkit-scrollbar-track { box-shadow: inset 0 0 3px grey; border-radius: 6px }
    #modal-dialog-agreement.mobile-images > #agreement-text-container::-webkit-scrollbar-track { border-radius: 18px }
    #agreement-text-container::-webkit-scrollbar-thumb { background-color: var(--primary-color);  border-radius: 6px }
    #modal-dialog-agreement.mobile-images > #agreement-text-container::-webkit-scrollbar-thumb {  border-radius: 18px }
    
    #agreement-text-container > ol, 
    #agreement-text-container > ul,
    #agreement-text-container > div > ul { direction:rtl }
    #agreement-text-container p[dir="RTL"] { text-indent: 0 !important; margin-right: 0 !important }
    #modal-dialog-agreement.mobile-images > #agreement-text-container p[dir="RTL"] { padding-right: 28px }
    #agreement-text-container > ol,
    #agreement-text-container > ul { padding-right: 26px; text-align: right }

    #modal-dialog-agreement.mobile-images > #agreement-text-container > ol,
    #modal-dialog-agreement.mobile-images > #agreement-text-container > ul { padding-right: 46px }

    #agreement-text-container > ol > li { margin-bottom: 1em }

   @media only screen and (min-height: 1000px) and (max-height: 1200px) {        
        .bottom-bar.mobile-images .btn-action > .txt {padding: 10px 15px; font-size: 46px !important }
        .bottom-bar.mobile-images .icon { font-size: 55px }
    }

    .mobile-images .error { border:3px solid var(--error-color) !important}
    .error { border:2px solid var(--error-color) !important }
    .gray { color:var(--third-color) }
    
    .tippy-box {  color: #fff; font-family: 'Arial';  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23); border-radius: 8px } 
    .tippy-box[data-theme~='default'] { background-color: #6b80e6 }
    .tippy-box[data-theme~='default'] .tippy-arrow { color: #6b80e6 }
    .tippy-box[data-theme~='green'] { background-color: #485d48 }
    .mobile-images .tippy-box[data-theme~='green'] { max-width: 460px !important}
    .tippy-box[data-theme~='green'] .tippy-arrow { color: #485d48 }
    .mobile-images .tippy-box { max-width: 400px !important }

    .tippy-box[data-placement="top"] { bottom: 0.5em; visibility: visible }
    .tippy-box[data-placement="bottom"] { top: 0.5em; visibility: visible }

    .mobile-images .tippy-box[data-placement="bottom"] { top: 1.5em }
    .mobile-images .tippy-box[data-placement="top"] { bottom: 1.5em } 
    .mobile-images .tippy-box { border-radius: 24px }
    
    .tippy-box[data-theme~='before-input-heb'] > .tippy-content { padding: 6px 12px 6px 6px } 
    .tippy-box[data-theme~='before-input-eng'] > .tippy-content { padding: 6px 6px 6px 12px } 
    .mobile-images .tippy-box > .tippy-content { padding: 20px }
    
    .tippy-arrow::before { transform: scale(2) }  
    .mobile-images .tippy-arrow::before { transform: scale(4) }  

    .tippy-content-before { display: flex; align-items: center; font-size:19px; height: 2.7em }
    .mobile-images .tippy-content-before { min-height: 2.7em; height: auto }
    .mobile-images .tippy-content-before.heb { font-size:39px; text-align: right }
    .mobile-images .tippy-box[data-theme~='green'] .tippy-content-before.heb { font-size:46px; text-align: right }
    .mobile-images .tippy-content-before.eng { font-size:36px; text-align: left }

    .tippy-content-before.heb { flex-direction: row }
    .tippy-content-before.eng { flex-direction: row-reverse }
    .tippy-content-before.heb > .tt-msg { margin-left: .5em }
    .tippy-content-before.eng > .tt-msg { margin-right: .5em }

    .tippy-box[data-theme~='green'] .tippy-content-before > .tt-msg { margin: 0 10px; text-align: center; min-width: 220px }
    .mobile-images .tippy-box[data-theme~='green'] .tippy-content-before > .tt-msg { text-align: right; min-width: 400px }

    .tippy-content-before > .tt-close { height: 100% }
    .mobile-images .tippy-content-before.txt-input > .tt-msg { line-height: 60px }
    .tippy-content-before .tt-hide { cursor: pointer; font-size: 1.3em; color: #eee; top: 4px; position: relative }
    .mobile-images .tippy-content-before .tt-hide { font-size: 2.3em }

    .tippy-content-after { display: flex; font-size: 1.7em; justify-content: center; align-items: center; position: relative; padding: .5em 1em }
    .mobile-images .tippy-content-after { font-size: 4em; padding: .5em }    
    .mobile-images .tippy-content-after > .tt-hide { font-size: 1.7em }
    .mobile-images .tippy-content-after.eng > .tt-hide { font-size: 1.7em; right: 0 }

    /*all checkboxes*/
    .approve-terms-container { display: none; align-items: center; z-index:13; font-size: 20px; line-height: 20px }
    .white-board.eng .approve-terms-container { left: 20px; direction: ltr; padding: 10px 10px 10px 0 } 
    .white-board.heb .approve-terms-container { right: 20px; direction: rtl; padding: 10px 0 10px 10px }
    .white-board.mobile-images.heb .approve-terms-container { right: 40px; padding: 10px 0 10px 10px }
    
    .white-board.mobile-images .approve-terms-container { font-size: 48px }
    .cbx-inner { cursor: pointer }
    .approve-terms-container > .cbx-inner { font-size: 30px; color: var(--other-text-color) }
    .white-board.mobile-images .approve-terms-container > .cbx-inner { font-size: 90px }
    
    #txt-i-accept { cursor: pointer; color: var(--other-text-color) }
    .white-board.eng .approve-terms-container >  #txt-i-accept { margin-left: 8px }    
    .white-board.mobile-images.eng .approve-terms-container >  #txt-i-accept { margin-left: 20px }
    .white-board.heb .approve-terms-container >  #txt-i-accept { margin-right: 8px }
    .white-board.mobile-images.heb .approve-terms-container >  #txt-i-accept { margin-right: 20px }
    
    #btn-open-terms { color: var(--primary-color); font-weight: bold }
    .white-board.eng .approve-terms-container > #btn-open-terms { margin-left: 11px }
    .white-board.heb .approve-terms-container > #btn-open-terms { margin-right: 8px }
    .white-board.mobile-images.heb .approve-terms-container > #btn-open-terms { margin-right: 20px }
    
    .checkbox-placeholder { position: absolute; box-sizing: border-box; background-color: #fff }
    .checkbox-placeholder > .cbx-inner { color: var(--placeholder-signature)}
    .checkbox-placeholder.mobile-images > .cbx-inner { display: block }
    /*start: popup signature with css grid*/
    #modal-dialog-signature { display: none; background: var(--modal-bg-color); border-radius: 8px; color: var(--other-text-color) }
    #modal-dialog-signature.eng { font-size: 1.2em }
    #modal-dialog-signature.heb { font-size: 1.4em }
    #modal-dialog-signature.heb.mobile-images { font-size: 3.2em; border-radius: 24px }
    #modal-dialog-signature.eng.mobile-images { font-size: 2.9em; border-radius: 24px }
    #modal-dialog-signature .fa-times-circle.fa-3x { font-size: 2em }
    #modal-dialog-signature.mobile-images .fa-times-circle.fa-3x { -webkit-text-stroke: 3px var(--modal-bg-color) }

    .signature-header { position:relative; grid-column: 1/3;  grid-row: 1/2; line-height: 60px; text-align: center}
    .mobile-images .signature-header { line-height: 160px }

    #btn-close-signature-dialog { cursor: pointer; position: absolute; top: 6px }
    .mobile-images #btn-close-signature-dialog { top: 20px }
    .mobile-images.heb #btn-close-signature-dialog { left: 20px }
    .mobile-images.eng #btn-close-signature-dialog { right: 20px }

    .heb  #btn-close-signature-dialog{ left: 6px }
    .eng  #btn-close-signature-dialog { right: 6px }

    .canvas-wrapper-inner { margin: 0 8px 8px 8px; background-color: #fff }
    .mobile-images .canvas-signature-inner { margin: 0 20px 20px 20px }
    .canvas-signature { cursor: crosshair }
    
    #canvas-wrapper { display:inline-block; grid-column: 1/3; grid-row: 2/3 }

    #btn-signature-container-ok { 
        grid-column: 1/2; grid-row: 3/4; 
        line-height: 50px; text-align: center; 
        color: var(--secondary-color); background-color: var(--primary-color); 
        border-bottom-left-radius: 8px; border-left: 1px solid var(--modal-bg-color);
        border-bottom: 1px solid var(--modal-bg-color); border-right: 1px solid var(--modal-bg-color); 
        cursor: pointer 
    }

    .mobile-images #btn-signature-container-ok { 
        border-bottom-left-radius: 24px;
        border-left-width: 3px;
        border-bottom-width: 3px;
        border-right-width: 3px;
        line-height: 140px
    }

    #btn-signature-container-ok:active { background-color: var(--secondary-color); color: var(--primary-color) }

    #btn-signature-container-clear { 
        grid-column: 2/3;  grid-row: 3/4; 
        line-height: 50px; text-align: center;
        background-color: var( --additional-message-bg-color);
        border-bottom-right-radius: 8px; cursor: pointer 
    }

    .mobile-images #btn-signature-container-clear { border-bottom-right-radius: 24px; line-height: 140px }
    #btn-signature-container-clear:active { background-color: var(--secondary-color); color: var(--primary-color) }
    #modal-dialog-signature.mobile-images.heb .close-modal2 { left: 20px }
    #modal-dialog-signature.mobile-images.eng .close-modal2 { right: 20px }
/*end: popup signature with css grid*/
/*start: confirm modal with css grid*/
    #modal-confirm-dialog { font-size: 22px; display: none; background: var(--modal-bg-color); border-radius: 8px; color: var(--other-text-color) }
    #modal-confirm-dialog.heb.mobile-images { font-size: 60px; border-radius: 24px }
    .confirm-header {
        position: relative;
        grid-column: 1/3;
        grid-row: 1/2;
        height: 35px;        
    }

    .mobile-images > .confirm-header {
        height: 100px;        
    }

    #btn-close-confirm { cursor: pointer; position: absolute; top: 6px }
    .mobile-images #btn-close-confirm { top: 18px }
    .heb  #btn-close-confirm{ left: 6px }
    .mobile-images.heb  #btn-close-confirm{ left: 18px }

    #modal-confirm-dialog .fa-times-circle.fa-3x { font-size: 1.8em; -webkit-text-stroke: 1px var(--modal-bg-color); }
    #modal-confirm-dialog.mobile-images .fa-times-circle.fa-3x { -webkit-text-stroke: 3px var(--modal-bg-color) }
    
    .confirm-msg { 
        grid-column: 1/3; 
        grid-row: 2/3;
        padding: 1em 1.5em 1.5em 1.5em;
        max-width: 380px;
        line-height: 1.5em;
    }

    .mobile-images .confirm-msg {        
        line-height: 1.5em;
        max-width: 750px;
        padding: 1.2em .8em 1.5em .8em;
    }

    .heb .confirm-msg { direction: rtl;text-align: right }

    #btn-confirm-ok { 
        grid-column: 1/2;  
        grid-row: 3/4; 
        line-height: 50px; text-align: center; 
        color: var(--secondary-color); background-color: var(--primary-color); 
        border-bottom-left-radius: 8px; border-left: 1px solid var(--modal-bg-color);
        border-bottom: 1px solid var(--modal-bg-color); border-right: 1px solid var(--modal-bg-color); 
        cursor: pointer 
    }

    .mobile-images #btn-confirm-ok { 
        border-bottom-left-radius: 24px;
        border-left-width: 3px;
        border-bottom-width: 3px;
        border-right-width: 3px;
        line-height: 140px;        
    }

    #btn-confirm-ok:active { background-color: var(--secondary-color); color: var(--primary-color) }

    #btn-confirm-cancel { 
        grid-column: 2/3;  
        grid-row: 3/4; 
        line-height: 50px; 
        text-align: center;
        background-color: var( --additional-message-bg-color);
        border-bottom-right-radius: 8px; 
        cursor: pointer 
    }

    .mobile-images #btn-confirm-cancel { border-bottom-right-radius: 24px; line-height: 140px }

    #btn-confirm-cancel:active { background-color: var(--secondary-color); color: var(--primary-color) }
/*end: confirm modal with css grid*/

/*start: Alert modal with css grid*/
    #modal-alert-dialog { display: none; background: var(--modal-bg-color); border-radius: 8px; color: var(--other-text-color) }
    #modal-alert-dialog.heb.mobile-images { border-radius: 24px }
    .alert-header {
        position: relative;
        grid-column: 1/2;
        grid-row: 1/2;
        height: 35px;        
    }

    .mobile-images > .alert-header {
        height: 100px;        
    }

    #btn-close-alert { cursor: pointer; position: absolute; top: 6px }
    .mobile-images #btn-close-alert { top: 18px }
    .heb  #btn-close-alert{ left: 6px }
    .mobile-images.heb  #btn-close-alert{ left: 18px }

    #modal-alert-dialog .fa-exclamation-triangle { font-size: 2em }
    #modal-alert-dialog.mobile-images .fa-exclamation-triangle { font-size: 4.5em; color: rgba(255,0,0,.7) }
    
    .alert-msg { 
        grid-column: 1/2; 
        grid-row: 2/3;
        font-size: 1em;
        padding: .4em 3em 1.5em 3em;
        max-width: 240px;
        line-height: 26px;
    }

    .mobile-images .alert-msg {
        font-size: 3.2em;
        line-height: 1.5em;
        max-width: 720px;
        padding: 0.8em 1em 1.5em 1em;
    }

    .heb .alert-msg { direction: rtl;text-align: right }

    #btn-alert-ok { 
        grid-column: 1/2;  
        grid-row: 3/4; 
        line-height: 50px; 
        text-align: center; 
        color: var(--secondary-color); 
        background-color: var(--primary-color); 
        border-bottom-left-radius: 8px; 
        border-left: 1px solid var(--modal-bg-color);
        border-bottom: 1px solid var(--modal-bg-color); 
        border-right: 1px solid var(--modal-bg-color); 
        cursor: pointer 
    }

    .mobile-images #btn-alert-ok { 
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        border-left-width: 3px;
        border-bottom-width: 3px;
        border-right-width: 3px;
        line-height: 140px;
        font-size: 3.2em;
    }

    #btn-alert-ok:active { background-color: var(--secondary-color); color: var(--primary-color) }

/*end: Alert modal with css grid*/

/*start: popup stage zero with css grid*/
    #modal-stage-zero {         
        display: none;
        min-width: 380px;
        background: var(--modal-bg-color);
        border-radius: 8px;         
    } 

    .mobile-images#modal-stage-zero {        
        width: 86%;
        min-width: auto;
        height: auto;
        border-radius: 20px;
    }
    
    .group-name, .group-secret, .group-email { display: none }
    
    .header {
        height: 20px;
    }

    .email-dynamic-area { height:0px }

    .name-label-container {        
        text-align: right;
        direction: rtl;
        line-height: 32px; 
    }

    .mobile-images .email-label-container,
    .mobile-images > .name-label-container, 
    .mobile-images > .secret-label-container {           
        line-height: 88px;         
    } 

    .secret-label-container > .lbl, 
    .name-label-container > .lbl,
    .email-label-container > .lbl {
        color: var(--primary-color); 
        font-size: 1.2em;         
        margin-right: .75em;
    }

    .mobile-images > .secret-label-container > .lbl, 
    .mobile-images > .name-label-container > .lbl,
    .mobile-images .email-label-container > .lbl {        
        font-size: 3.2em;         
        margin-right: .75em;
    }

    .name-input-container, .email-input-container, .secret-input-container {       
        text-align: right;
        flex-direction: row-reverse;
        align-items: center;      
    }    

    .name-input-container > .txt, 
    .secret-input-container > .txt {
        width: 86%;
        padding: 7px;
        border-radius: 7px;
        font-size: 1.2em;      
        color: #272424;
        direction: rtl;
        border-width: 1px;
        margin-right: .75em;
        margin-left: .75em;
    }

    .email-input-container > .txt {
        width: 86%;
        padding: 7px;
        border-radius: 7px;
        font-size: 1.2em;      
        color: #272424;
        border-width: 1px;
        margin-right: .75em;
        margin-left: .75em;
    }

    .mobile-images .email-input-container > .txt,
    .mobile-images > .name-input-container > .txt, 
    .mobile-images > .secret-input-container > .txt{
        width: 100%;
        padding: 20px;
        border-radius: 18px;
        font-size: 3em; 
        color: #272424;
        border: 3px solid rgb(118, 118, 118); 
    } 
    
    .name-validator, .email-validator, .secret-validator {
        height: 24px;
        line-height: 24px;
    }

    .mobile-images > .name-validator, .mobile-images .email-validator, .mobile-images > .secret-validator {
        height: 72px;
        line-height: 72px;
        font-size: 2.5em;
    }

    .validator {        
        text-align: right;
        direction: rtl;        
        color: #FF0000;
        padding-right: 1em;
    }  

    .secret-label-container {       
        text-align: right;
        direction: rtl;
        line-height: 32px; 
    }

    .email-label-container {
        text-align: right;
        direction: rtl;
        line-height: 32px; 
        align-items: center;     
    }
    
    .email-checkbox-container { 
        align-items: center;
        direction: rtl; 
        height: 45px;       
    }

    .mobile-images > .email-checkbox-container { 
        height: 120px;       
    }

    .email-padding { height: 15px }
    .mobile-images > .email-padding { height: 45px }


    .email-checkbox-container > .cbx-inner {
        margin-right: 0.5em;
        font-size: 37px;
        color: var(--other-text-color);
    }

    .mobile-images > .email-checkbox-container > .cbx-inner {
        margin-right: .35em;
        font-size: 90px;
    }

    .email-checkbox-container .txt-email-me-copy {
        margin-right: 10px;
        font-size: 17px;
        color: var(--primary-color);
    }

    .mobile-images > .email-checkbox-container .txt-email-me-copy {
        margin-right: 30px;
        font-size: 43px;
        text-align: right;
        padding-left: 30px;
    }

    .btn-container {       
        position: relative;
        text-align: center;
        cursor: pointer;         
        background-color: var(--primary-color); 
        color: var(--secondary-color);
        border-bottom-left-radius: 8px; 
        border-bottom-right-radius: 8px; 
        line-height: 60px;  
        font-size: 1.4em;
        border-left: 1px solid var(--modal-bg-color); 
        border-bottom: 1px solid var(--modal-bg-color); 
        border-right: 1px solid var(--modal-bg-color); 
        user-select: none;       
    }

    .mobile-images > .btn-container {        
        border-bottom-left-radius: 24px; 
        border-bottom-right-radius: 24px; 
        line-height: 120px;
        font-size: 50px;
        border-left-width: 3px;
        border-bottom-width: 3px;
        border-right-width: 3px; 
    }

    .disable-button {
        pointer-events: none;
    }

    .btn-container:active {
        background-color: var(--secondary-color); 
        color: var(--primary-color);
        user-select: none;
    }
        
    .btn-container > .spinner { 
        display: none;
        position: absolute;
        color: var(--secondary-color); 
        font-size: 1.3em;
        height: 29px;
        animation-duration: 2.5s;
        float: left;
        top: 13px;
        left: 13px;
    }
    
    .mobile-images .btn-container > .spinner {         
        height: 65px;
        top: 25px;
        left: 30px;
    }
           
   /* 
      .validator {        
        text-align: right;
        direction: rtl;        
        color: #FF0000;
        padding-right: 1em;
    }   

    .mobile-images > .validator {        
        font-size: 35px;
        padding-right: 1em;
    }   

    .mobile-images > .secret-label-container > .lbl, 
    .mobile-images > .name-label-container > .lbl {
        font-size: 50px;
    }

    .name-input-container > .txt, 
    .secret-input-container > .txt{
        width: 86%;
        padding: 7px;
        border-radius: 7px;
        font-size: 1.2em;      
        color: #272424;
        direction: rtl;
        border-width: 1px;
        margin-right: .75em;
        margin-left: .75em;
    }    
    */
/*end: popup stage zero with css grid*/
    .demo-item { padding: 8px; font-size: 1.8em; color: #a4a29f; display: none }
    .mobile-images.demo-item { font-size: 3.5em; padding: 20px }
    
    .body-demo-top-left, 
    .body-demo-top-right, 
    .body-demo-bottom-left, 
    .body-demo-bottom-right { position: fixed; z-index: 10 }        
    .body-demo-top-left { top:0; left:0 }
    .body-demo-top-right { top:0; right:0 }
    .body-demo-bottom-left  { bottom: var(--bottom-bar-height-desktop); left:0 }
    .body-demo-bottom-right { bottom: var(--bottom-bar-height-desktop); right:0 }
    .mobile-images.body-demo-bottom-left  { bottom: var(--bottom-bar-height-mobile) }
    .mobile-images.body-demo-bottom-right { bottom: var(--bottom-bar-height-mobile) }
    .advertise-good-sign.is-demo { bottom: 45px }
    .advertise-good-sign.mobile-images.is-demo { bottom: 95px }

    /*step files upload start*/
    .white-board > .inner > .title > .step-file-upload { font-size: 30px; color: var(--third-color) } 
    .white-board.mobile-images > .inner > .title > .step-file-upload {  font-size: 62px }
    
    .white-board > .inner > .title > .fa-thumbs-up { font-size: 32px;  margin-right: .4em }
    .white-board.mobile-images > .inner > .title > .fa-thumbs-up { font-size: 62px }

    
    .white-board > .inner > .sub-title > .step-file-upload { font-size: 40px }
    .white-board.mobile-images > .inner > .sub-title > .step-file-upload { font-size: 75px }

    .white-board > .inner > #files-upload-list {
        display: none;
        flex-direction: column;
        opacity: 1;
    }

    .white-board > .inner > #files-upload-list {
        width: 100%;
    }

    .file-upload-item {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        margin-bottom: 1.5em;
    }

    .file-upload-item-mobile {
        background-color: rgba(233, 233,233, .56);
        padding: 35px 36px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.2em;
        border-radius: 10px;
    }

    .clickable-container {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .file-upload-item.before-upload {
        cursor: pointer;
    }

    .file-upload-item .txt {
        font-size: 23px;
        color: #3a3838;
        width: 195px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
    }

    .file-upload-item-mobile .txt {
        font-size: 50px;
        color: #3a3838;
        max-width: 566px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: pre;
    }

    .file-upload-item .btn-before {
        width: 2.5em;
        height: 2.5em;
        border: 2px solid var(--primary-color);
        border-radius: .6em;
        margin-left: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .file-upload-item-mobile .btn-before-mobile {
        width: 200px;
        height: 95px;
        border: 6px solid var(--primary-color);
        border-radius: 1.5em;        
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .file-upload-item .btn-after {
        width: 2.5em;
        height: 2.5em;        
        margin-left: 1em;
        border: 1px solid var(--primary-color);
        border-radius: .6em;
        justify-content: center;
        align-items: center;
    }

    .file-upload-item .btn-before > .fa-upload {
        font-size: 1.5em;
        color: var(--primary-color);
    }

    .file-upload-item-mobile .btn-before-mobile > .fa-upload {
        font-size: 58px;
        color: var(--primary-color);
    }

    .file-upload-item .btn-after > .fa-check {
        font-size: 1.5em;
        color: var(--primary-color);
    }

    .file-upload-item.before-upload .btn-before {
        display: flex;
    }

    .file-upload-item.before-upload .btn-after {
        display: none;
    }

    .file-upload-item.after-upload .btn-before {
        display: none;
    }

    .file-upload-item.after-upload .btn-after {
        display: flex;
    }
    
    .file-progress-container-desktop {
         margin-right: 1em;
         visibility: hidden;
         opacity: 1;
     }

    .file-progress-container-mobile {
        margin-right: 1em;
        display: none;
        opacity: 1;
    }

    .progress-item { 
        display: flex; 
        flex-direction: row;
        height: 45px;       
    } 

    .progress-item-mobile {
        display: flex; 
        flex-direction: row;
        height: 107px;
        align-items: center;
    }

    .progress-item-mobile .progress {        
        width: 100%;        
        direction: rtl;
        height: 5em;
        width: 280px;
        margin-left: 4em;
        opacity: 1;
    }

    .progress-item-mobile > .upload-complete {
        display: none; 
        flex-direction: row;
        direction: ltr;
        width: 360px;
        justify-content: space-evenly;
        align-items: center;
    }

    .progress-item-mobile > .upload-complete > .file-size {
        font-size: 2.5em;
        color: #767171; 
    }

    .progress-item-mobile > .upload-complete > .fa-check {
        font-size: 3.5em; 
        color: var(--primary-color);
    }

    .progress-item-mobile .btn-trash-container { 
        display: flex;
        align-items: center;
    }
    
    .progress-item-mobile .fa-trash { 
        color: gray; cursor: pointer; font-size: 3.8em 
    }
    
    .progress-item-mobile .delete-spinner {
        display: none;
        color: var(--primary-color); 
        font-size: 3.8em
    }
    
    .progress-item .far {font-size: 2.5em; color: rgb(204, 204, 204)}
    .progress-item .file-desc { color: #767171 }
    .progress-item .file-name { font-size: 0.9em }
    .progress-item .file-size { font-size: 0.8em; direction: ltr }
    
    .progress-item .file-icon {
        width: 50px;        
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .progress-item .file-details-and-progress { 
        display: flex; flex-direction: column; width: 220px; justify-content: center; margin: 0 1em 0 1.5em 
    }

    .progress-item .btn-trash-container { 
        display: flex;
        align-items: center;
    } 

    .progress-item .delete-spinner {
        display: none;
        color: var(--primary-color); 
        font-size: 1.7em
    }

    .progress-item .first-row { 
      display: flex; 
      flex-direction: row; 
      align-items: center;
      justify-content: space-around; 
    }

    .progress-item .fa-trash { 
        color: gray; cursor: pointer; font-size: 1.5em 
    } 

    .progress-item .progress-done {             
        display: none;
        font-size: .8em;
        color: #a5a2a2;
        font-style: italic;        
        text-align: center;    
    }

    .progress-item .second-row {
        opacity: 1;     
    }    

    .progress-item .progress {        
        width: 100%;        
        direction: rtl;
        height: 1.5em;
    }

    .image-info {
        margin-top: 15px;
        direction: rtl;
        color: var(--third-color);
        font-size: .9em;
    }

    #choose-file-container { 
        display: none; 
        flex-direction: column; 
        align-items: center;
        margin-right: 150px;
        margin-top: 100px;
        width: 32%;
        opacity: 0; 
    }

    .file-item-validator { display: none; color: red; font-size: 1.2em; margin-right: 1em}

    .choose-header {        
        margin-bottom: 0.7em;        
        width: 100%;
        text-align: center;
        position: relative;
        direction: rtl;
    }

    .choose-header > #choose-close-btn {
        position: absolute;
        right: -2.5em;
        top: -2em;
        cursor: pointer;
    }

    .choose-header > #choose-close-btn > .far {
        color: var(--other-text-color);
        -webkit-text-stroke: 2px #fff;
        font-size: 2.5em;
    }

    .choose-header > .txt {
        font-size: 1.7em;        
        color: #403d3d;
        margin-left: .3em;       
        white-space:pre;
    }
    
    .or-container { 
        margin: 1em 0; 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: space-between 
    }

    .h-line { width: 30px; height: 0; border: 1px solid var(--third-color) }
    .or-txt { margin: 0 .6em }

    .btn-choose-file { 
        display: flex; 
        flex-direction: row-reverse; 
        align-items: center; 
        justify-content: center;        
        border: 2px solid var(--primary-color); 
        border-radius: 8px; 
        cursor: pointer;
        background-color: var(--primary-color); 
    }

    .btn-choose-file > .far { padding: 7px 0 8px 10px; font-size: 1.8em; color: #fff }   
    .btn-choose-file > .txt { padding: 10px 8px 10px 0; margin-left: .7em; font-size: 18px; color: #fff }
    .btn-choose-file:active {
        background-color: #f2f2f2;
        box-shadow: 0 2px #666;
        transform: translateY(2px);
     }
    .drop-zone { 
        width:100%;
        height:285px;        
        text-align: center;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        color: #403d3d;
     }
    
    .drop-zone-border {
        background: linear-gradient(90deg, #7f7f7f 50%, #fff 50%), 
                    linear-gradient(90deg, #7f7f7f 50%, #fff  50%), 
                    linear-gradient(0deg, #7f7f7f 50%, #fff  50%), 
                    linear-gradient(0deg, #7f7f7f 50%, #fff  50%);
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 16px 2px, 16px 2px, 2px 16px, 2px 16px;
        background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
        border-radius: 5px;        
       
    }

    .animate-border {
        animation: dash 7s linear infinite;
        background: linear-gradient(90deg, #4d4b4b 50%, #fff  50%), 
                    linear-gradient(90deg, #4d4b4b 50%, #fff  50%), 
                    linear-gradient(0deg, #4d4b4b 50%, #fff  50%), 
                    linear-gradient(0deg, #4d4b4b 50%, #fff  50%);
                    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        background-size: 16px 2px, 16px 2px, 2px 16px, 2px 16px;
        background-position: 0% 0%, 100% 100%, 0% 100%, 100% 0px;
    }

    @keyframes dash {
        to {
            background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
        }
    }    
    
    input[type="file"] { opacity: 0; /* make transparent */ 
        z-index: -1; /* move under anything else */
        position: absolute; /* don't let it take up space */
     }

    .upload-validator {
         font-size: 1.2em;
         color:red;
         padding-top: 1em;
         direction: rtl;
         visibility: hidden;
    }

    .bounce-text {
        font-size: 1em;
    }
      
    .bounce-text.bounce { animation: bounce 1s linear  }
    
    @keyframes bounce {
    20%, 50%, 80% {
        transform: translate(0, 0);    
    }
    40% {
        transform: translate(0, -20px);    
    }
    70% {
        transform: translate(0, -10px);    
    }
    90% {
        transform: translate(0, -4px);
    }
    }

    .required-embedded-image { color: red; font-size: 0.85em }
    /*step files upload end*/
  