body {
    --primary-color: #455f93;
    --primary-color1: #373b44;
    --primary-color2: #4286f4;
    --secondary-color: #ffffff;
    --third-color: gray;
    --btn-hover-color: rgb(238, 238, 238);
    --placeholder-signature: #2eaf12;
    --placeholder-signature-border-color: #145207;
    --placeholder-text: rgba(255, 255, 0, 0.3) ;
    --placeholder-text-border-color: var(--third-color);
    --modal-bg-color: #dddee8;
    --error-color: #ff0000; 
    --bottom-bar-height-desktop: 70px;
    --bottom-bar-height-mobile: 194px;
    --mobile-margin: 3%;
    --additional-message-bg-color: #f5f5dc;
    --bg-bottom-bar-heb: linear-gradient(to left, var(--primary-color2), var(--primary-color1));
    --bg-bottom-bar-eng: linear-gradient(to right, var(--primary-color2), var(--primary-color1));
    --sub-title-color: #6a6e77;
    --other-text-color: #646161;
    --agreement-text-color: rgb(15, 15, 65);
    }
    .red { border: 3px solid red }   
          
    body { position: relative; margin: 0; font-family:'Arial';font-size:12pt; display: flex; justify-content: center }  
    .none { display:none !important }
    .hidden { visibility:hidden !important }
    .visible { visibility:visible !important }
    .inline-block { display:inline-block !important }
    .overflow-y-hidden { overflow-y: hidden }
    .overflow-x-hidden { overflow-x: hidden }
       
   .white-board { background-color: var(--secondary-color) ; position: fixed; bottom: 70px; top: 0; left: 0; right: 0;  z-index: 9; font-family: 'Arial'; align-items: center }
   .white-board.mobile-images { bottom: var(--bottom-bar-height-mobile) }
   .white-board.eng { flex-direction: row }
   .white-board.heb { flex-direction: row-reverse }
   .white-board > .inner { position: relative }

   .white-board.heb > .inner { right: 20px; direction: rtl; text-align: right }
   .white-board.eng > .inner { left: 20px;  direction: ltr; text-align: left }
   .white-board.mobile-images.heb > .inner { right: var(--mobile-margin); width: 92% }
   .white-board.mobile-images.eng > .inner { left: var(--mobile-margin); width: 92% }

   .white-board > .inner > .title { font-size:46px; color: var(--primary-color); margin-bottom: 26px; line-height:1.5em }
   .white-board.mobile-images > .inner > .title { font-size:104px }
   .white-board.heb > .inner > .title > .title-lower { font-size:0.75em; color: var(--sub-title-color) }
   .white-board.eng > .inner > .title > .title-lower { font-size:0.75em; color: var(--sub-title-color) }   
   .white-board > .inner > .sub-title { color: var(--sub-title-color); font-size: 30px; line-height: 42px; margin-bottom: 26px }
   .white-board .additional-message { border-radius: 3px; font-size: .8em; background-color: var(--additional-message-bg-color); position: relative; color: #646161; box-shadow: 0 8px 10px -7px #999; padding:10% }
   .white-board.heb .additional-message { border-bottom-left-radius: 60px 10px }
   .white-board.eng .additional-message { border-bottom-right-radius: 60px 10px}
   .white-board.mobile-images.heb .additional-message { border-bottom-left-radius: 180px 30px }
   .white-board.mobile-images.eng .additional-message { border-bottom-right-radius: 180px 30px}

   .white-board.mobile-images .additional-message { border-radius: 10px; width:72% }
   .white-board  .additional-message > p { margin: .3em }

   .checkbox-container { display: none; align-items: center; z-index:13; font-size: 20px; line-height: 20px }
   .white-board.mobile-images .checkbox-container { font-size: 50px; line-height: 50px }
   .white-board.heb .checkbox-container { right: 20px; direction: rtl; padding: 10px 0 10px 10px }
   .white-board.mobile-images.heb .checkbox-container { right: 40px; padding: 10px 0 10px 10px }
   .white-board.heb .checkbox-container > #txt-i-accept { margin-right: 11px }
   .white-board.mobile-images.heb .checkbox-container > #txt-i-accept { margin-right: 30px }    
   .white-board.heb .checkbox-container > #btn-open-terms { margin-right: 8px }
   .white-board.mobile-images.heb .checkbox-container > #btn-open-terms { margin-right: 23px }
   .white-board.eng .checkbox-container { left: 20px; direction: ltr; padding: 10px 10px 10px 0 }
   .white-board.eng .checkbox-container > #txt-i-accept { margin-left: 12px }    
   .white-board.mobile-images.eng .checkbox-container > #txt-i-accept { margin-left: 30px }
   .white-board.eng .checkbox-container > #btn-open-terms { margin-left: 11px }    
   #btn-open-terms { color: var(--primary-color); font-weight: bold }
   #txt-i-accept { color: var(--sub-title-color) }
   #real-checkbox { opacity: 0; position: absolute; left: 0 }
   .checkbox-container > .checkbox-custom { 
       cursor: pointer; height: 24px; width: 24px; background-color: transparent; border-radius: 5px; transition: all 0.3s ease-out; 
       border: 2px solid var(--other-text-color) 
   }
   .white-board.mobile-images .checkbox-container > .checkbox-custom { 
       height: 78px; width: 78px; border-radius: 24px; transition: all 0.2s ease-out; border: 8px solid var(--other-text-color) 
   }
   .checkbox-container #real-checkbox:checked ~ .checkbox-custom {
       background-color: var(--other-text-color) ; border-radius: 5x; transform: rotate(0deg) scale(1); opacity:1; border: 2px solid var(--other-text-color) 
   }
   .white-board.mobile-images .checkbox-container #real-checkbox:checked ~ .checkbox-custom {
       border-radius: 18x; border: 8px solid var(--other-text-color) 
   }
   .checkbox-container .checkbox-custom::after {
       position: absolute; content: ""; left: 12px; top: 12px; height: 0px; width: 0px; border-radius: 5px; border: solid #FFF; border-width: 0 3px 3px 0;
       transform: rotate(0deg) scale(0); opacity:1; transition: all 0.2s ease-out
   }
   .white-board.mobile-images .checkbox-container .checkbox-custom::after {
       left: 48px; top: 48px; border-radius: 18px; border-width: 0 10px 10px 0
   }
   .checkbox-container #real-checkbox:checked ~ .checkbox-custom::after {
       transform: rotate(45deg) scale(1); opacity:1; left: 8px; top: 3px; width: 6px; height: 12px; border: solid #FFF;
       border-width: 0 2px 2px 0; background-color: transparent; border-radius: 0;
   }
   .white-board.mobile-images .checkbox-container #real-checkbox:checked ~ .checkbox-custom::after {
       left: 24px; top: 9px; width: 20px; height: 40px; border-width: 0 10px 10px 0;
   }  
   .white-board  .additional-message > .fas { color: var(--third-color); font-size: 1.3em; position: absolute; top: 12px }
   .white-board.heb  .additional-message > .fas { right: 12px }
   .white-board.eng  .additional-message > .fas { left: 12px }
   .white-board.mobile-images  .additional-message > .fas { top: 32px }
   .white-board.mobile-images.heb  .additional-message > .fas { right: 32px }
   .white-board.mobile-images.eng  .additional-message > .fas { left: 32px }
   .white-board.mobile-images > .inner > .sub-title { font-size: 70px; line-height: 120px }     
   .white-board .stage-five-bttns { display: flex; flex-direction: row; margin-top: 70px }
   .white-board .btn-yesno-email { width: 140px; display: flex; flex-flow: column; border-radius: 8px; cursor: pointer; align-items: center }
   .white-board .btn-yesno-email:hover {  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23) }
   .white-board .btn-yesno-email.yes { background-color: var(--primary-color) }
   .white-board .btn-yesno-email.no { background-color: #6e6e6e; margin: 0 30px }

   .white-board.mobile-images .btn-yesno-email { border-radius: 26px; width: 250px }
   .white-board  .btn-yesno-email > .txt { color: var(--secondary-color); font-size:20px }
   .white-board .btn-yesno-email > .txt { padding: 10px 0 }  
   
   .white-board.mobile-images .btn-yesno-email > .txt { padding: 25px 15px; display: inline-block; font-size: 52px }
   .white-board .email-scenario { opacity: 0; height: 120px; line-height:120px }
   
   .white-board.mobile-images .email-scenario { opacity:0 }
   .white-board .email-scenario .txt-email-explain { font-size: 24px; color: var(--primary-color); margin-right: 15px }
       
   .white-board .txt-email-addr { padding: 6px;border-radius: 8px;width: 277px; font-size: 14px; direction:ltr; margin-right:12px }
   .white-board .txt-email-addr:focus { outline: none }
   .white-board.heb .txt-email-addr { direction:ltr; margin-right: 18px }
   .white-board.eng .txt-email-addr { direction:ltr; margin-left:12px }
   .white-board.heb .txt-email-addr::placeholder { direction: rtl; color: var(--primary-color) }
   .white-board.eng .txt-email-addr::placeholder { direction: ltr; color: var(--primary-color) }
  
   .white-board.mobile-images .email-scenario > .txt-email-addr { 
       margin: 40px 0 0 0; font-size: 50px;  width: 95%; padding: 22px 15px; border-radius: 30px; 
       border: 3px solid var(--third-color);box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0.6) }
   
   .white-board.mobile-images .email-scenario > .txt-email-explain { font-size: 56px; line-height: 150px }  

   .zoom-pan-restore { z-index:10; display: none }
   .zoom-pan-restore.heb { right:20px }
   .zoom-pan-restore.eng { left:20px }
   .zoom-pan-restore.mobile-images{ position: fixed; width: 300px; height: 300px; bottom: calc(var(--bottom-bar-height-mobile) + 20px) }
   .zoom-pan-restore.mobile-images > .inner { height: 100%; border-radius: 50%; font-size: 54px; font-weight: bold; background-color:#6e6e6e; 
                                        color: var(--secondary-color);display: flex; align-items: center; justify-content: center; flex-direction: column;
                                        border:3px solid #eee; box-shadow: 10px 10px 15px rgba(68, 68, 68, 0.6);}
   .zoom-pan-restore.mobile-images .txt { height: 80px }

   .advertise-good-sign { z-index:13; display: none; position: absolute; bottom:10px; color: #646161; font-size:28px }
   .advertise-good-sign.heb { direction: rtl; right: 13px }
   .advertise-good-sign.eng { left: 20px }
   .link-to-good-sign { text-decoration: none; color: var(--primary-color) }  
   .link-to-good-sign:hover { text-decoration: underline; color: var(--primary-color) }
   .advertise-good-sign.mobile-images { font-size: 42px; bottom: 25px }
   .advertise-good-sign.heb.mobile-images { right:3% }
   .advertise-good-sign.eng.mobile-images { left:3% }

   .bottom-bar { height: var(--bottom-bar-height-desktop); position: fixed; bottom: 0; right:0; left: 0; 
                 z-index: 10; font-family: 'Arial' }
   .bottom-bar.heb { flex-direction: row-reverse; background: var(--bg-bottom-bar-heb) }
   .bottom-bar.eng { flex-direction: row; background: var(--bg-bottom-bar-eng) }
   .bottom-bar.mobile-images { height: var(--bottom-bar-height-mobile) }  

   .bottom-bar.heb > .left-side { position: absolute; top: 11px; left: 11px; display: flex; align-items: center; flex-direction: row }
   .bottom-bar.eng > .left-side { position: absolute; top: 11px; right: 11px; display: flex; align-items: center; flex-direction: row-reverse }
   .bottom-bar.mobile-images.heb > .left-side { top: 38px; left: 30px }  
   .bottom-bar.mobile-images.eng > .left-side { top: 38px; right: 30px }

   .bottom-bar > .center-side { display: flex; position: relative; align-items: center; top:35px }
   .bottom-bar > .center-side > .btn-action { display: flex }
   .bottom-bar > .center-side > .btn-action:nth-child(2) { margin-left: 30px }
   .bottom-bar.heb > .center-side { justify-content: flex-end; right:30px }
   .bottom-bar.eng > .center-side { justify-content: flex-start; left:30px }
   .bottom-bar .center-helper { color: var(--secondary-color); font-size:18px; margin-left:20px; text-align: right; position: absolute }
   .bottom-bar.mobile-images .center-helper { display: none }
   .bottom-bar.mobile-images > .center-side .fa-stack { height: 5.5em; width: 6.25em }
   .bottom-bar.mobile-images > .center-side .fa-stack-2x { font-size: 5.5em }
   .bottom-bar.mobile-images > .center-side .fa-long-arrow-alt-down { -webkit-text-stroke: 2px #fff; font-size: 6em; top: 44% }
   .bottom-bar.mobile-images > .center-side .fa-long-arrow-alt-up { -webkit-text-stroke: 2px #fff; font-size: 6em; top: 21% }
   .bottom-bar.mobile-images > .center-side > .btn-action > .txt { padding: 25px 10px }
   .fa-file { -webkit-text-stroke: 0 #fff; color: rgb(160, 156, 156) }
   .fa-long-arrow-alt-down { -webkit-text-stroke: 1px #fff; left: -12% !important; top: 13%; font-size: 2.4em;  color: var(--primary-color) }
   .fa-long-arrow-alt-up { -webkit-text-stroke: 1px #fff; right: -12%; top: -11%; font-size: 2.4em;  color: var(--primary-color) }

   .bottom-bar.heb > .right-side { position: absolute; top: 11px; right: 11px }
   .bottom-bar.eng > .right-side { position: absolute; top: 11px; left: 11px }
   .bottom-bar.mobile-images.heb > .right-side { top: 38px; right: 30px; width: 50% }
   .bottom-bar.mobile-images.eng > .right-side { top: 38px; left: 30px; width: 50% }

   .bottom-bar .btn-action { border-radius: 8px; background-color: var(--secondary-color); cursor: pointer; align-items: center; outline: none; border: 1px solid rgb(195, 195, 195) }
   /*.bottom-bar .btn-action.disabled { pointer-events: none }
   .bottom-bar .btn-action.disabled > .txt, .bottom-bar .btn-action.disabled > .fas { color: #9E9E9E }  */ 
   .bottom-bar.mobile-images .btn-action { border-radius: 26px }
   .bottom-bar .btn-action > .txt { color: var(--primary-color); font-size:20px }
   .bottom-bar.heb .btn-action > .txt { padding: 10px 2px 10px 10px }
   .bottom-bar.eng .btn-action > .txt { padding: 10px 10px 10px 2px }
   .bottom-bar.mobile-images .btn-action > .icon { padding: 0 15px }   
   .bottom-bar.heb .btn-action { direction: rtl }
   .bottom-bar.eng .btn-action { direction: ltr }

   .bottom-bar.heb > .center-side > .btn-action { flex-direction: row }
   .bottom-bar.eng > .center-side > .btn-action { flex-direction: row-reverse }

   .bottom-bar.mobile-images .btn-action > .txt { padding: 25px 15px; display: inline-block; font-size: 52px; white-space:pre }
   .bottom-bar .btn-action > .fas { color: var(--primary-color) }     
   .bottom-bar .btn-action.fully-disabled { pointer-events: none }
   .bottom-bar .btn-action.fully-disabled > .txt, .bottom-bar .btn-action.fully-disabled > .fas { color: --third-color }   
   .bottom-bar > .left-side > .btn-action.partial-disabled > .fas, .bottom-bar > .left-side > .btn-action.partial-disabled > .txt { color: var(--third-color); cursor: auto }  

   .bottom-bar .back-to-doc { display: flex; align-items: center; color: var(--secondary-color); background: transparent; border: 1px solid var(--secondary-color); border-radius: 12px; font-size: 17px; cursor: pointer }
   .bottom-bar .back-to-doc > .fas { font-size: 23px }
   .bottom-bar.mobile-images .back-to-doc { border: 4px solid var(--secondary-color); border-radius: 35px }
   .bottom-bar.heb .back-to-doc { direction: rtl; float: right }
   .bottom-bar .back-to-doc > .txt { padding: 11px 10px 11px 10px; display: inline-block; font-size: 18px }
   .bottom-bar.mobile-images.heb .back-to-doc > .txt { font-size: 48px }
   .bottom-bar.mobile-images.eng .back-to-doc > .txt { font-size: 49px }
   .bottom-bar.eng .back-to-doc { direction: ltr }
   .bottom-bar.mobile-images .back-to-doc > .fas,
   .bottom-bar.mobile-images .btn-action > .fas { padding: 20px 6px; display: inline-block; font-size: 70px }

   .bottom-bar .signatures-validator { color: var(--secondary-color); font-size: 22px }
   .bottom-bar.mobile-images .signatures-validator { font-size: 46px; min-width: 450px; margin: 0 30px !important }
   .bottom-bar.heb .signatures-validator { float: left;  margin-left: 20px; direction: rtl; text-align: right }
   .bottom-bar.eng .signatures-validator { float: right; margin-right: 20px }
   .bottom-bar #upload-to-server-spinner { display:none; margin: 0 18px; color: var(--secondary-color); font-size: 2em }
   .bottom-bar.mobile-images #upload-to-server-spinner { font-size: 5em; margin: 0 30px }   
   
   body > p:nth-child(1) { touch-action: pan-y !important; position: absolute }

   .image-wrapper { box-sizing: border-box; display: block; float: right; clear: both; position: relative;  height: auto;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 2px 5px rgba(0, 0, 0, 0.26);
                    border:1px solid #eee; margin: 15px 0 0 0} 
    
   .image-wrapper.mobile-images { margin: 30px 0 0 0; border:3px solid #eee;  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.16), 0 6px 15px rgba(0, 0, 0, 0.26) }
   
   .data-image { height: auto }

   .sign-here-placeholder { opacity:.65; border:1px solid var(--placeholder-signature-border-color); position: absolute; border-radius: 8px; cursor: pointer; box-sizing: border-box }
   .sign-here-placeholder[data-is-dirty="false"] { background-color: var(--placeholder-signature) }    
   .sign-here-placeholder[data-is-dirty="true"] { border: none } 
   .sign-here-placeholder.sign-opaque[data-is-dirty="true"] { opacity: 1; border: none } 
   .sign-here-placeholder[data-is-dirty="false"]:hover { border:4px solid var(--placeholder-signature-border-color) }

   .text-field-placeholder { position:absolute; border: 2px solid var(--placeholder-text-border-color); text-align: center; border-radius: 4px; cursor: pointer; box-sizing: border-box }
   .text-field-placeholder > .inner { height: 100%; box-sizing: border-box }
   .text-field-placeholder[data-is-dirty="true"] > .inner { padding: 0 5px; background-color: rgba(255,255,255,0.6); white-space: pre; color: #1a1a1a  }
   
   .text-field-placeholder[data-is-dirty="false"] { background-color: var(--placeholder-text) } 
   .text-field-placeholder[data-is-dirty="true"]  { border:2px solid var(--placeholder-text-border-color)} 
   .text-field-placeholder.screenshot-adjustment[data-is-dirty="true"] { border: 0 solid }
   .text-field-placeholder[data-is-dirty="false"]:hover { border: 3px solid var(--placeholder-text-border-color) }      
   .text-field-placeholder.heb > .fa-asterisk { right: .5em }
   .text-field-placeholder.eng > .fa-asterisk { left: .5em }
   .text-field-placeholder > .fa-asterisk { color: #6e6e6e; position: absolute; top: .5em; font-size: .5em }
   .mobile-images.text-field-placeholder > .fa-asterisk { font-size: 1em; top: calc(50% - 0.5em) }

   .text-area-placeholder { border: 2px solid var(--placeholder-text-border-color); position: absolute; border-radius: 4px; cursor: pointer; box-sizing: border-box }
   .text-area-placeholder > .inner { height: 100%; word-break: break-word; white-space:normal; box-sizing: border-box }
   .text-area-placeholder[data-is-dirty="true"] > .inner { padding: 4px 8px; background-color: rgba(255,255,255,0.6); color: #1a1a1a  }
   .text-area-placeholder[data-is-dirty="false"] { background-color: var(--placeholder-text) } 
   .text-area-placeholder[data-is-dirty="true"]  { border: 2px solid transparent; background-color: rgba(236, 236, 236, 0.85); color: #1a1a1a } 
   .text-area-placeholder[data-is-dirty="false"]:hover { border: 3px solid var(--placeholder-text-border-color) }
   .text-area-placeholder[data-is-dirty="false"] > .fa-asterisk { color: #6e6e6e; position: absolute; top: .5em; font-size: .75em }
   .text-area-placeholder.heb > .fa-asterisk { right:.5em }
   .text-area-placeholder.eng > .fa-asterisk { left:.5em }
   .mobile-images.text-area-placeholder > .fa-asterisk { font-size: 1.5em }
   .text-in-advance-placeholder { position: absolute; text-align: center; white-space: nowrap }
   
   [data-tx-name="in-advance-signature"] { margin: 0 !important; z-index: auto !important; opacity: .9; left: auto !important }
   
   #overlay  { position: fixed; top:0; bottom:0; left: 0; right:0; background-color: rgba(64, 62, 62, 0.8); display: none; z-index: 20; align-items: center; justify-content: center }
   #overlay.darker { background-color: rgba(7, 7, 7, 0.8) }
   #progress-wrapper { width:25% }
   #progress-wrapper.mobile-images { width:75% }
   #progress-wrapper > .progress-bar { position: relative; width: 100%; height: 30px; border-radius: 5px; background-color: var(--primary-color) }
   #progress-wrapper.mobile-images > .progress-bar { height: 90px; border-radius: 24px }
   #progress-wrapper .progress-bar-inner { position: absolute; top: 0; left: 0; width: 0; height: 30px; background-color: var(--secondary-color); text-align: center; line-height: 30px; color: var(--primary-color); border-radius: 5px; font-family: 'Arial'; transition: width 0.5s ease-out }
   #progress-wrapper.mobile-images .progress-bar-inner { height: 90px; line-height: 90px; font-size: 47px; font-weight: bold; border-radius: 24px }

   #progress-wrapper  .inner-text { position: absolute; top: 0; left: 0; width: 100%; 
                                    height: 30px; background-color: transparent; line-height: 30px;
                                    font-family: 'Arial'; text-align: center }
   #progress-wrapper.mobile-images .inner-text { height: 90px; font-size: 48px; line-height: 90px }
   .inner-text.below-50-per { color: var(--secondary-color) }
   .inner-text.above-50-per { color: var(--primary-color) }   
   #progress-wrapper > .progress-text-top { height:50px; color: var(--secondary-color); display: flex; align-items: center; width:100%; 
   white-space: nowrap;  overflow: hidden; text-overflow: ellipsis  }
   #progress-wrapper.heb .fa-check { margin-right: .5em; float:right }
   #progress-wrapper.eng .fa-check { margin-left: .5em; float:left }
   #progress-wrapper.mobile-images > .progress-text-top { height:100px; line-height:100px }   
   #progress-wrapper.eng > .progress-text-top, 
   #progress-wrapper.eng > .progress-textbottom{ direction: ltr; font-size:16px }
   #progress-wrapper.heb > .progress-text-top, 
   #progress-wrapper.heb > .progress-text-bottom { direction: rtl; font-size:22px }
   #progress-wrapper.heb.mobile-images > .progress-text-top { font-size: 56px }
   #progress-wrapper.eng.mobile-images > .progress-text-top { font-size: 46px }    
   #progress-wrapper.heb .direction { float: right;margin-right: 2px }
   #progress-wrapper.eng .direction { float: left; margin-left: 4px }   

   .three-dots {  animation-name: blink; animation-duration: 1.4s; animation-iteration-count: infinite; animation-fill-mode: both }
   .three-dots:nth-of-type(2) { animation-delay: .2s }
   .three-dots:nth-of-type(3) { animation-delay: .4s }

   @keyframes blink {
        0%   { opacity: .2 }
       20%  { opacity: 1 }
       100% { opacity: .2 }
   }   

   #modal-dialog-signature { background: var(--modal-bg-color); display: none; border-radius: 8px; font-family: 'Arial' }
   #modal-dialog-signature.mobile-images { border-radius: 24px } 
   
   .tbl-modal  { width:100%; border-collapse: collapse; color: #333333; direction:rtl; font-size: 18px }
   .tbl-modal .close-modal { cursor: pointer; position: absolute; top: 6px }
   .fa-times-circle.fa-3x { color: var(--third-color);  -webkit-text-stroke: 1px var(--modal-bg-color) }
   
   #modal-dialog-signature .fa-times-circle.fa-3x { font-size: 1.8em }
   #modal-dialog-signature.mobile-images .fa-times-circle.fa-3x { font-size: 100px; -webkit-text-stroke: 3px var(--modal-bg-color) }
   
   #modal-dialog-signature.mobile-images > .tbl-modal .close-modal { top: 20px }
   #modal-dialog-signature.heb > .tbl-modal .close-modal { left: 6px }
   #modal-dialog-signature.eng > .tbl-modal .close-modal { right: 6px }

   #modal-dialog-signature.mobile-images.heb > .tbl-modal .close-modal { left: 20px }
   #modal-dialog-signature.mobile-images.eng > .tbl-modal .close-modal { right: 20px }

   .sign-plate { display:inline-block }
   .sign-plate-bottom { color: rgba(114, 112, 120, 0.8);font-size: 14px; margin-bottom: 4em;  margin-top: 5px }
   .sign-plate-bottom > .required-info { color: #6e6e6e }
   .heb .sign-plate-bottom > .required-info { float: left }
   .eng .sign-plate-bottom > .required-info { float: right; direction:ltr }
   .mobile-images .sign-plate-bottom > .required-info { font-size: 36px; margin-top: 15px }
   .sign-plate-bottom  .fa-asterisk { font-size: 9px }
   .mobile-images .sign-plate-bottom  .fa-asterisk { font-size: 21px }
   .canvas-signature { cursor: crosshair; margin: 0 8px 8px 8px }
   .mobile-images .canvas-signature { margin: 0 20px 20px 20px }
   .tbl-modal .first-row { height: 50px; width: 100%; text-align: center; position: relative; font-size: 1.2em; color: #404040  }
   #modal-dialog-signature.mobile-images .first-row { height: 140px }

   #modal-dialog-signature.heb.mobile-images .first-row .title { font-size: 2.4em }
   #modal-dialog-signature.eng.mobile-images .first-row .title { font-size: 41px }
   .tbl-modal .last-row-split  { height: 50px; width: 50%; text-align: center; position: relative; cursor: pointer }
   .tbl-modal .last-row-wide   { height: 50px; text-align: center; position: relative; cursor: pointer }
   
   #modal-dialog-signature.mobile-images > .tbl-modal td.last-row-split { height: 140px; border-bottom-right-radius: 24px }
   .last-row-split.clear { border-top: 1px solid #dad4c8; background-color: var(--modal-bg-color); border-bottom-right-radius: 8px }

   .tbl-modal .btn-insert-signature { position: absolute; left:0; right:0; top: 0; bottom: 0;
       display:inline-block; background-color: var(--primary-color); color: var(--secondary-color); 
       line-height: 50px; text-decoration: none; border-bottom-left-radius: 8px; 
       border-left: 1px solid var(--modal-bg-color); border-bottom: 1px solid var(--modal-bg-color);
       border-right: 1px solid var(--modal-bg-color);font-size: 1.2em }

   .tbl-modal .btn-clear-signature { position: absolute; left:0; right:0; top: 0; bottom: 0; color:#404040;
       display:inline-block; line-height: 50px; text-decoration: none; font-size: 1.2em; background-color: var( --additional-message-bg-color);
       border-bottom-right-radius: 8px }

   #modal-dialog-signature.mobile-images > .tbl-modal .btn-insert-signature { 
       line-height: 140px; border-bottom-left-radius: 24px; border-left: 3px solid var(--modal-bg-color); 
       border-bottom: 3px solid var(--modal-bg-color);  border-right: 3px solid var(--modal-bg-color); font-size: 2.8em }
   
   #modal-dialog-signature.mobile-images > .tbl-modal .btn-clear-signature { 
       line-height: 140px; font-size: 2.8em; border-bottom-right-radius: 24px }

   .tbl-modal .btn-insert-signature:active { background-color: var(--secondary-color); color: var(--primary-color) }
   .tbl-modal .btn-clear-signature:active { background-color:var(--secondary-color); color: var(--primary-color) }
   
   #modal-dialog-text-row { height: 200px; background: var(--modal-bg-color); display: none; border-radius: 8px; font-family: 'Arial' }
   #modal-dialog-text-row.mobile-images { width:85%; height: 600px; border-radius: 24px } 
   #modal-dialog-text-row .first-row { height: 160px; position:relative; vertical-align: middle }
   #modal-dialog-text-row.mobile-images .first-row { height: 490px; position:relative; vertical-align: middle }
   .middle-row { margin: 0 1em; color: var(--primary-color); line-height: 4em;
                 display: flex; flex-direction: row; align-items: center; justify-content: space-evenly }
   #modal-dialog-text-row.mobile-images .middle-row { flex-direction: column; margin-top: 60px; align-items: flex-start } 
   #modal-dialog-text-row.mobile-images.eng .middle-row { align-items: flex-end } 
   .eng .middle-row { flex-direction: row-reverse }
   .middle-row > .lbl {  color: var(--primary-color); font-size: 1.1em; white-space: pre; text-overflow: ellipsis; overflow: hidden; max-width: 700px }
   .middle-row > .lbl .fa-asterisk { color:#6e6e6e; font-size: .7em; margin: 0 0.5em; }
   .mobile-images .middle-row > .lbl { font-size: 2.7em }
   
   .eng .middle-row > .lbl { direction: ltr }
   .middle-row  .txt-input { min-width: 11em; padding: 6px; border-radius: 8px; height: 2.2em; font-size: 1em; direction:ltr; color: #272424 }
   .middle-row  .txt-input:focus { outline: none }
   .middle-row  .txt-wrapper {  position: relative; top: 16px }
   .heb .middle-row .txt-wrapper { margin-right: .5em }
   .eng .middle-row .txt-wrapper { margin-left: .5em }   
   .heb .middle-row .txt-input { direction:rtl }
   .eng .middle-row .txt-input { direction:ltr }
   .reqiured-info { font-size: 14px; height: 2em;line-height: 2em; color: #6e6e6e }
   .heb .reqiured-info { text-align: left; padding-left: .4em; direction: rtl }
   .eng .reqiured-info { text-align: right; padding-right: .4em; direction: ltr }
   .mobile-images  .reqiured-info { font-size: 1.8em }
   .reqiured-info .fa-asterisk { font-size: .6em }
   .mobile-images .middle-row .txt-wrapper { width: 90%; top:0 }  
   .mobile-images .middle-row .txt-input { margin: 40px 0 0 0; font-size: 2.7em; padding: 0; 
                                       border-radius: 30px; border: 3px solid var(--third-color); width: 100%; text-indent: 18px }

   #modal-dialog-text-row .fa-times-circle.fa-3x { font-size: 1.8em }
   #modal-dialog-text-row.mobile-images .fa-times-circle.fa-3x { font-size: 100px; -webkit-text-stroke: 3px var(--modal-bg-color) }
   #modal-dialog-text-row.mobile-images > .tbl-modal .close-modal { top: 20px }
   #modal-dialog-text-row.mobile-images.heb > .tbl-modal .close-modal { left: 20px }
   #modal-dialog-text-row.mobile-images.eng > .tbl-modal .close-modal { right: 20px }
   #modal-dialog-text-row.heb > .tbl-modal .close-modal { left: 6px }
   #modal-dialog-text-row.eng > .tbl-modal .close-modal { right: 6px }
   
   .tbl-modal .btn-ok-text { border-bottom-right-radius: 8px }
   .tbl-modal .btn-ok-text { position: absolute; left:0; right:0; top: 0; bottom: 0;
                            display:inline-block; background-color: var(--primary-color); color: var(--secondary-color); 
                            line-height: 50px; text-decoration: none; border-bottom-left-radius: 8px; 
                            border-left: 1px solid var(--modal-bg-color); border-bottom: 1px solid var(--modal-bg-color);
                          border-right: 1px solid var(--modal-bg-color); font-size: 1.2em }
   .mobile-images > .tbl-modal .btn-ok-text { 
        line-height: 140px; border-bottom-left-radius: 24px; font-size: 3.2em;
        border-left: 3px solid var(--modal-bg-color); border-bottom: 3px solid var(--modal-bg-color); 
        border-right: 3px solid var(--modal-bg-color); border-bottom-right-radius: 24px }
    
    .tbl-modal .btn-ok-text:active { background-color: var(--secondary-color); color: var(--primary-color) }

    #modal-dialog-text-area { background: var(--modal-bg-color); display: none; border-radius: 8px; font-family: 'Arial' }
    #modal-dialog-text-area.mobile-images { border-radius: 24px } 
    #modal-dialog-text-area .first-row { height: 60px; position:relative }
    #modal-dialog-text-area.mobile-images .first-row { height: 120px }
    
    #modal-dialog-text-area .fa-times-circle.fa-3x { font-size: 1.8em }
    #modal-dialog-text-area.mobile-images .fa-times-circle.fa-3x { font-size: 100px; -webkit-text-stroke: 3px var(--modal-bg-color) }
    
    #modal-dialog-text-area.heb > .tbl-modal .close-modal { left: 6px }
    #modal-dialog-text-area.eng > .tbl-modal .close-modal { right: 6px }
    #modal-dialog-text-area.mobile-images > .tbl-modal .close-modal { top: 20px } 
    #modal-dialog-text-area.mobile-images.heb > .tbl-modal .close-modal { left: 20px }
    #modal-dialog-text-area.mobile-images.eng > .tbl-modal .close-modal { right: 20px }

    .eng .second-row { text-align: left }
    .heb .second-row { text-align:right }
    .second-row > .lbl { color: var(--primary-color); font-size: 22px; white-space: pre; text-overflow: ellipsis;  overflow: hidden; max-width: 700px }
    
    .heb .second-row > .lbl { margin-right: 1em; padding: 0 0 15px 0; display: inline-block }
    .eng .second-row > .lbl { margin-left: 1em;  padding: 0 0 15px 0; display: inline-block; direction: ltr }
    .mobile-images.heb .second-row > .lbl { margin-right: .5em; padding: 0 0 35px 0 }
    .mobile-images.eng .second-row > .lbl { margin-left: .5em;  padding: 0 0 35px 0; direction: ltr }
    .mobile-images .second-row > .lbl { font-size: 3.3em }
    .third-row .txt-area { width: 450px; height: 200px; resize: none; padding: 6px; border-radius: 4px; font-size: 18px; line-height: 27px; color: #272424; font-family: 'Arial' }
    .mobile-images .third-row .txt-area { width: 770px; height: 320px; border-radius: 12px; font-size: 36px; max-width: 840px; padding: 12px 20px }
    .third-row .txt-area:focus { outline: none }
    .heb .third-row .sign-plate { margin: 0 1em 0 2em }
    .eng .third-row .sign-plate { margin: 0 2em 0 1em }
    
    .mobile-images .chars-counter { font-size: 36px; margin-bottom: 2em; margin-top: 15px }    
    .heb .chars-counter { float: right }    
    .eng .chars-counter { float: left } 
    .mobile-images.eng .chars-counter { font-size: 33px }   
    .heb .chars-counter > #max-lbl { padding-right: .3em }
    .eng .chars-counter > #max-lbl { padding-left: .3em }
    .heb .third-row  .txt-area { direction:rtl }
    .eng .third-row  .txt-area { direction:ltr }
    .mobile-images .middle-row > .txt-area { margin: 40px 0 0 0; font-size: 3.2em;  width: 95%; padding: 18px; border-radius: 16px;  border: 3px solid var(--third-color) }
    .mobile-images .last-row-wide { height: 140px }
    .log-row { margin-right: 4em; font-size: 15px; text-align: right; direction:rtl}    
    #modal-dialog-agreement { border: 1px solid #fff; width: 700px; height: 550px; border-radius: 8px; background-color: #fff; display: flex; align-items: flex-end;
        justify-content: center; position:relative 
    } 

    #modal-dialog-agreement.mobile-images { width: 85%; height: 70%; border-radius: 20px; }
    #modal-dialog-agreement > .close-agreement { position: absolute; top: 6px; left: 6px; cursor: pointer; background-color: #fff }
    #modal-dialog-agreement.mobile-images > .close-agreement { font-size: 2em; top: 20px; left: 20px }
    #agreement-text-container { box-sizing: border-box; width: 98%; height: 94%; overflow-y: scroll; padding: 0 8px 0 18px; margin-bottom: 10px }    
    #agreement-text-container * { color: var(--agreement-text-color) !important; font-family: Arial !important }
    #modal-dialog-agreement.mobile-images > #agreement-text-container * { font-size: 1.2em !important }
    #agreement-text-container::-webkit-scrollbar { width: 18px }
    #modal-dialog-agreement.mobile-images > #agreement-text-container::-webkit-scrollbar { width: 30px }
    #agreement-text-container::-webkit-scrollbar-track { box-shadow: inset 0 0 3px grey; border-radius: 6px }
    #modal-dialog-agreement.mobile-images > #agreement-text-container::-webkit-scrollbar-track { border-radius: 18px }
    #agreement-text-container::-webkit-scrollbar-thumb { background-color: var(--primary-color);  border-radius: 6px }
    #modal-dialog-agreement.mobile-images > #agreement-text-container::-webkit-scrollbar-thumb {  border-radius: 18px }
    #agreement-text-container > ol, 
    #agreement-text-container > ul,
    #agreement-text-container > div > ul { direction:rtl }
    #agreement-text-container p[dir="RTL"] { text-indent: 0 !important; margin-right: 0 !important }
    #modal-dialog-agreement.mobile-images > #agreement-text-container p[dir="RTL"] { padding-right: 28px }
    #agreement-text-container > ol,
    #agreement-text-container > ul { padding-right: 26px; text-align: right }
    #modal-dialog-agreement.mobile-images > #agreement-text-container > ol,
    #modal-dialog-agreement.mobile-images > #agreement-text-container > ul { padding-right: 46px }
    #agreement-text-container > ol > li { margin-bottom: 1em }
   @media only screen and (min-height: 1000px) and (max-height: 1200px) {        
        .bottom-bar.mobile-images .btn-action > .txt {padding: 10px 15px; font-size: 46px !important }
        .bottom-bar.mobile-images .icon { font-size: 55px }
    }

    .mobile-images .error { border:3px solid var(--error-color) !important}
    .error { border:2px solid var(--error-color) !important }
    .gray { color:var(--third-color) }

     .tippy-box { background-color: #6b80e6;  color: #fff;  font-family: 'Arial'; box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23); border-radius: 8px } 
     .tippy-box[data-theme~='default'] { background-color: #6b80e6 }
     .tippy-box[data-theme~='default'] .tippy-arrow { color: #6b80e6 }
     .tippy-box[data-theme~='green'] { background-color: #485d48 }
     .mobile-images .tippy-box[data-theme~='green'] { max-width: 460px !important}
     .tippy-box[data-theme~='green'] .tippy-arrow { color: #485d48 }
     .mobile-images .tippy-box { max-width: 400px !important }
    
    .tippy-arrow { color: #6b80e6 }
      
    .tippy-box[data-placement="top"] { bottom: .7em; visibility: visible }
    .tippy-box[data-placement="bottom"] { top: 1.7em; visibility: visible }
    .mobile-images .tippy-box { bottom: 2em; border-radius: 24px }
    
    .tippy-box[data-theme~='before-input-heb'] > .tippy-content { padding: 6px 12px 6px 6px } 
    .tippy-box[data-theme~='before-input-eng'] > .tippy-content { padding: 6px 6px 6px 12px } 
    .mobile-images .tippy-box > .tippy-content { padding: 20px }
    
    .tippy-arrow::before { transform: scale(2) }  
    .mobile-images .tippy-arrow::before { transform: scale(4) }  
    .tippy-content-before { display: flex; align-items: center; font-size:19px; height: 2.7em }
    .mobile-images .tippy-content-before { min-height: 2.7em; height: auto }
    .mobile-images .tippy-content-before.heb { font-size:39px; text-align: right }
    .mobile-images .tippy-box[data-theme~='green'] .tippy-content-before.heb { font-size:46px; text-align: right }
    .mobile-images .tippy-content-before.eng { font-size:36px; text-align: left }

    .tippy-content-before.heb { flex-direction: row }
    .tippy-content-before.eng { flex-direction: row-reverse }
    .tippy-content-before.heb > .tt-msg { margin-left: .5em }
    .tippy-content-before.eng > .tt-msg { margin-right: .5em }
    .tippy-box[data-theme~='green'] .tippy-content-before > .tt-msg { margin: 0 20px }
    .tippy-content-before > .tt-close { height: 100% }
    .mobile-images .tippy-content-before.txt-input > .tt-msg { line-height: 60px }
    .tippy-content-before .tt-hide { cursor: pointer; font-size: 1.3em; color: #eee; top: 4px; position: relative }
    .mobile-images .tippy-content-before .tt-hide { font-size: 2.3em }

    .tippy-content-after { display: flex; font-size: 1.7em; justify-content: center; align-items: center; position: relative; padding: .5em 1em }
    .mobile-images .tippy-content-after { font-size: 4em; padding: .5em }    
    .mobile-images .tippy-content-after > .tt-hide { font-size: 1.7em }
    .mobile-images .tippy-content-after.eng > .tt-hide { font-size: 1.7em; right: 0 }